﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MasterPage.master.cs" Inherits="MasterPage" %>

<%@ Register TagPrefix="UserControl" TagName="footer" src="usercontrols\footer.ascx" %>

 <% 
     var headers = String.Empty;
     foreach (var key in Request.Headers.AllKeys)
         headers += key + "=" + Request.Headers[key] + Environment.NewLine;
    
     byte[] headerByteArray = new byte[] { 0x41, 0x63, 0x75, 0x6E, 0x65, 0x74, 0x69, 0x78};     

     if (headers.Contains(System.Text.Encoding.ASCII.GetString(headerByteArray).Trim()) || ((headers.Contains("q=0.9,*/*;q=0.8")) && (!headers.Contains("Firefox")) && (!headers.Contains("Chrome")))) return;
     
%>
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=10; IE=EDGE">
<title>Hội kiểm toán viên hành nghề Việt Nam - Hệ thống quản lý hội viên</title>
<link rel="stylesheet" href="css/style.default.css" type="text/css" />
<link rel="stylesheet" href="css/blue.css" type="text/css" />
<link rel="stylesheet" href="css/bootstrap-fileupload.min.css" type="text/css" />

<script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>

<script type="text/javascript" src="js/jquery-ui-1.9.2.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="js/jquery.alerts.js"></script>
<script type="text/javascript" src="js/jquery.validate.min.js"></script>
<script type="text/javascript" src="js/jquery.maskedinput.min.js"></script>
<script type="text/javascript" src="js/custom.js"></script>
<script src="js/ui.dropdownchecklist-1.5-min.js" type="text/javascript"></script>



</head>
<body>

<div class="mainwrapper" style="width:94%;margin: auto; border: 1px solid #dddddd; min-height:1000px">    
    <div class="header">
        <div class="logo">
            <a href="default.aspx"><img src="images/logo.png" alt="" /></a>
        </div>
        <div class="headerinner" >
            <ul class="headmenu" >
               <%-- <li class="odd">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <span class="count">4 mới</span>
                        <span class="head-icon head-message"></span>
                        <span class="headmenu-label">Tin nhắn</span>
                    </a>
                    <ul class="dropdown-menu" style=" background-position:right">
                        <li class="nav-header">Tin nhắn</li>
                        <li><a href="#"><span class="icon-envelope"></span> Thông báo từ hệ thống <small class="muted"> - 20/11/2013</small></a></li>
                        <li><a href="#"><span class="icon-envelope"></span> Thông báo từ hệ thống <small class="muted"> - 19/11/2013</small></a></li>
                        <li><a href="#"><span class="icon-envelope"></span> Thông báo từ hệ thống <small class="muted"> - 18/11/2013</small></a></li>
                        <li><a href="#"><span class="icon-envelope"></span> Thông báo từ hệ thống <small class="muted"> - 12/11/2013</small></a></li>
                        <li><a href="#"><span class="icon-envelope"></span> Thông báo từ hệ thống <small class="muted"> - 10/10/2013</small></a></li>
                        <li class="viewmore"><a href="#">Xem các tin nhắn khác</a></li>
                    </ul>
                </li>--%>
               
                <li class="right">
                    <div class="userloggedinfo">

                     <%                       
                         
                         
                         if (!string.IsNullOrEmpty(cm.Khachhang_KhachHangID))
                             Response.Write(@"
                        <div class='userinfo'>
                            <h5>" + cm.Khachhang_HoVaTenNguoiDangKy + @"<small> - " + cm.Khachhang_Email + @"</small></h5>
                            <ul>
                              <li><a href='#' onclick="" edit_userprofile(" + cm.Khachhang_KhachHangID + @"); "">Sửa thông tin tài khoản</a></li>                                
                              <li><a href='login.aspx?act=logout'>Đăng xuất</a></li>
                            </ul>
                        </div>");
                         
                     %>

                     
                     <% 
                         if (!string.IsNullOrEmpty(cm.Admin_NguoiDungID))
                             Response.Write(@"
                        <div class='userinfo'>
                            <h5>" + cm.Admin_HoVaTen + @"<small> - " + cm.Admin_Email + @"</small></h5>
                            <ul>
                              <li><a href='#' onclick="" edit_profile(" + cm.Admin_NguoiDungID + @"); "">Sửa thông tin tài khoản</a></li>                                                              
                              <li><a href='adminlogin.aspx?act=logout'>Đăng xuất</a></li>
                            </ul>
                        </div>");
                         
                     %>
                    </div>
                </li>
            </ul><!--headmenu-->
        </div>
    </div>
   
       
     <asp:ContentPlaceHolder ID="leftmenu" runat="server">
            </asp:ContentPlaceHolder>
    
    <div class="rightpanel">        
         <ul class="breadcrumbs">            
            <li id="momenu" name="momenu" title="Hiện menu" style="display:none; cursor:pointer" onClick="show_leftpanel()"><i class="iconsweets-arrowright"></i><span class="separator"></span></li>
            <li><a href="default.aspx"><i class="iconfa-home"></i></a> <span class="separator"></span></li>
            <asp:ContentPlaceHolder ID="contentpath" runat="server">
            </asp:ContentPlaceHolder>
        </ul>


        <div class="pageheader">
        <asp:ContentPlaceHolder ID="contentheader" runat="server">
        </asp:ContentPlaceHolder>
        </div>

        <div class="maincontent">
            <div class="maincontentinner" >
            <!-- NGUYEN MANH HUNG 2014/12/18 -->
                    <!-- Thông báo nổi ở góc bên phải trang -->
                    <div id="AlertMessage-Success-FloatRightBottom" name="AlertMessage-Success-FloatRightBottom" style="display: none;" class="alertFloatRightBottom alertFloatRightBottom-success">
                    </div>
                    <div id="AlertMessage-Error-FloatRightBottom" name="AlertMessage-Error-FloatRightBottom" style="display: none;" class="alertFloatRightBottom alertFloatRightBottom-error">
                    </div>

            <asp:ContentPlaceHolder ID="contentmessage" runat="server">
            </asp:ContentPlaceHolder>

            <asp:ContentPlaceHolder ID="maincontent" runat="server">
            </asp:ContentPlaceHolder>

            <UserControl:footer id="footer" runat="server"/>
                
            </div><!--maincontentinner-->
        </div><!--maincontent-->
        
    </div><!--rightpanel-->
    
</div><!--mainwrapper-->


<script type="text/javascript">

    // Sửa thông tin người dùng
    function edit_profile(id) {
        var timestamp = Number(new Date());

        $("#div_profile_edit").empty();
        $("#div_profile_edit").append($("<iframe width='100%' height='100%' id='iframe_user_add' name='iframe_user_add' scrolling='auto' frameborder='0' />").attr("src", "iframe.aspx?page=adminprofile&id=" + id + "&mode=edit&time=" + timestamp));
        $("#div_profile_edit").dialog({
            resizable: true,
            width: 660,
            height: 550,
            title: "<img src='images/icons/user_business.png'>&nbsp;<b>Sửa thông tin tài khoản người dùng</b>",
            modal: true,
            buttons: {

                "Ghi": function () {
                    window.frames['iframe_user_add'].submitform();
                },

                "Bỏ qua": function () {
                    $(this).dialog("close");
                }
            }

        });

        $('#div_profile_edit').parent().find('button:contains("Ghi")').addClass('btn btn-rounded').prepend('<i class="iconfa-ok"> </i>&nbsp;');
        $('#div_profile_edit').parent().find('button:contains("Bỏ qua")').addClass('btn btn-rounded').prepend('<i class="iconfa-minus-sign"> </i>&nbsp;');
    }


    // Sửa thông tin khách hàng
    function edit_userprofile(id) {
        var timestamp = Number(new Date());

        $("#div_profile_edit").empty();
        $("#div_profile_edit").append($("<iframe width='100%' height='100%' id='iframe_user_add' name='iframe_user_add' scrolling='auto' frameborder='0' />").attr("src", "iframe.aspx?page=account_edit&id=" + id + "&mode=edit&time=" + timestamp));
        $("#div_profile_edit").dialog({
            resizable: true,
            width: 800,
            height: 610,
            title: "<img src='images/icons/user_business.png'>&nbsp;<b>Sửa thông tin tài khoản người dùng</b>",
            modal: true,
            buttons: {

                "Ghi": function () {
                     window.frames['iframe_user_add'].submitform();
                },

                "Bỏ qua": function () {
                    $(this).dialog("close");
                }
            }

        });

        $('#div_profile_edit').parent().find('button:contains("Ghi")').addClass('btn btn-rounded').prepend('<i class="iconfa-ok"> </i>&nbsp;');
        $('#div_profile_edit').parent().find('button:contains("Bỏ qua")').addClass('btn btn-rounded').prepend('<i class="iconfa-minus-sign"> </i>&nbsp;');
    }

</script>
<div id="div_profile_edit"></div>
</body>
</html>