﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="getmail.ascx.cs" Inherits="usercontrols_QLHV_getmail" %>
<form id="Form1" name="Form1" runat="server" clientidmode="Static">
    <style type="text/css">
   
    .ui-dropdownchecklist {
        background: #ffffff !important;
        border: solid 1PX #cccccc!important;
        margin: 0px;
  height: 22px;
  width:152px;
  -webkit-appearance: menulist;
  box-sizing: border-box;
  border: 1px solid;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  white-space: pre;
  -webkit-rtl-ordering: logical;
  color: black;
  background-color: white;
  cursor: default;
    }
    .ui-dropdownchecklist span {
        width:100%;
    }
    .ui-dropdownchecklist span span{
        width:100%;
    }
</style>
   <h4 class="widgettitle">Lấy danh sách mail hội viên</h4>
    <br />
    <%--<select name="VungMienId" id ="VungMienId" style="width: 152px" multiple="multiple" >
            <%  
              try
              {
                  VungMien(Request.Form["VungMienId"].ToString());
              }
              catch 
              {
                  VungMien("00");
              }
              
              %>
        </select>&nbsp;&nbsp;--%>
        Giới tính: <select name="GioiTinh" id ="GioiTinh" style="width: 152px" multiple="multiple" >
            <%  
              try
              {
                  GioiTinh(Request.Form["GioiTinh"].ToString());
              }
              catch 
              {
                  GioiTinh("00");
              }
              
              %>
        </select>
    <br />
    <asp:ScriptManager ID="sc1" runat="server"></asp:ScriptManager>
    <asp:UpdatePanel ID="up1" runat="server"><ContentTemplate>
         <div style="margin-top:10px">
    <asp:Button ID="btnLayMailHVCN" runat="server"
         Text="Hội viên cá nhân" CssClass="btn btn-rounded" OnClick="btnLayMailHVCN_Click" /></div>
    <div style="margin-top:10px">
    <asp:TextBox ID="txtMailHVCN" runat="server" TextMode="MultiLine" Rows="15" Width="100%"></asp:TextBox></div>
        </ContentTemplate></asp:UpdatePanel>
    <br />
    <asp:UpdatePanel ID="UpdatePanel1" runat="server"><ContentTemplate>
    <asp:Button ID="btnLayMailKTV" runat="server"
         Text="Kiểm toán viên" CssClass="btn btn-rounded" OnClick="btnLayMailKTV_Click" />
    <div style="margin-top:10px">
    <asp:TextBox ID="txtMailKTV" runat="server" TextMode="MultiLine" Rows="15" Width="100%"></asp:TextBox></div>
        </ContentTemplate></asp:UpdatePanel>
    <br />
        <asp:UpdatePanel ID="UpdatePanel2" runat="server"><ContentTemplate>
    <asp:Button ID="btnLayMailNQT" runat="server"
         Text="Người quan tâm" CssClass="btn btn-rounded" OnClick="btnLayMailNQT_Click" />
    <div style="margin-top:10px">
    <asp:TextBox ID="txtMailNQT" runat="server" TextMode="MultiLine" Rows="15" Width="100%"></asp:TextBox></div>
            </ContentTemplate></asp:UpdatePanel>
    <br />
            <asp:UpdatePanel ID="UpdatePanel3" runat="server"><ContentTemplate>
    <asp:Button ID="btnHoiVienTapThe" runat="server"
         Text="Hội viên tổ chức" CssClass="btn btn-rounded" OnClick="btnLayMailHVTT_Click" />
    <div style="margin-top:10px">
    <asp:TextBox ID="txtMailHVTT" runat="server" TextMode="MultiLine" Rows="15" Width="100%"></asp:TextBox></div>
                </ContentTemplate></asp:UpdatePanel>
    <br />
                <asp:UpdatePanel ID="UpdatePanel4" runat="server"><ContentTemplate>
    <asp:Button ID="btnCTKT" runat="server"
         Text="Công ty kiểm toán" CssClass="btn btn-rounded" OnClick="btnLayMailCTKT_Click" />
    <div style="margin-top:10px">
    <asp:TextBox ID="txtMailCTKT" runat="server" TextMode="MultiLine" Rows="15" Width="100%"></asp:TextBox></div>
                    </ContentTemplate></asp:UpdatePanel>
    <br />
                
    </form>

<script type="text/javascript">
    //$("#VungMienId").dropdownchecklist({ firstItemChecksAll: true, maxDropHeight: 150, emptyText: "Tất cả" });
    $("#GioiTinh").dropdownchecklist({ firstItemChecksAll: true, maxDropHeight: 150, emptyText: "Tất cả" });
</script>