﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="hoivientapthe_daotao_giohoc.ascx.cs" Inherits="usercontrols_QLHV_hoivientapthe_daotao_giohoc" %>
<asp:PlaceHolder ID="ErrorMessage" runat="server"></asp:PlaceHolder>
<style>
    .table th, .table td {text-align:center !important}
</style>
<form id="form1" runat="server">
    <asp:ScriptManager ID="s1" runat="server"></asp:ScriptManager>
    <div class="boxed active">
       

  <section class="content has-sidebar">
   
    <div class="wrapper">	

    	 
        <div class="widget-3 widget">
        <div class="panel">
				<div class="p-title">
					<h2 class="widgettitle">Thông tin giờ học còn thiếu</h2>
				</div>
				<div class="shortcode-content">
					<div class="writecomment">
                    <asp:PlaceHolder ID="placeMessage" runat="server"></asp:PlaceHolder>
	   
             <div class="widget2">
         
                  <div class="menu_body">
          <asp:Label ID="labThongTinGioHoc" runat="server" Text="labThongTinGioHoc" 
                          Font-Size="Medium"></asp:Label>
            <div class=" ">
            <asp:UpdatePanel ID="UpdatePanelThongTinDN" runat="server" ><ContentTemplate>
                <table width="100%" class=" " >
                    

                  <tr class=" ">
                     <td   > 
                    
                     </td>   
                  
 
                    </tr>
 
                </table> 
                
            </ContentTemplate></asp:UpdatePanel>  
                
         
            </div>
       
            </div>
            </div>
            <div class="widget2">
         
                  <div class="menu_body">
        
            <asp:UpdatePanel ID="UpdatePanel1" runat="server">
                        <ContentTemplate>
                        <script type="text/javascript" language="javascript">
                            Sys.Application.add_load(reCalljScript);
     </script>
      
                            
                            <asp:GridView ID="gvLopHoc" runat="server" AutoGenerateColumns="false" 
                                Width="100%" class="table table-bordered responsive dyntable"   >
                                <Columns>
                                    <asp:BoundField DataField="STT" HeaderText="STT" ItemStyle-HorizontalAlign="Center" ItemStyle-VerticalAlign="Middle" />
                                      <asp:BoundField DataField="HoTen" HeaderText="Họ tên" ItemStyle-HorizontalAlign="Left" ItemStyle-VerticalAlign="Middle" />
                                    <asp:BoundField DataField="LoaiHV" HeaderText="Loại HV" ItemStyle-HorizontalAlign="Center" ItemStyle-VerticalAlign="Middle" />
                                    <asp:BoundField DataField="SoChungChiKTV" HeaderText="Số CC KTV" ItemStyle-HorizontalAlign="Center" ItemStyle-VerticalAlign="Middle" />
                                 <asp:BoundField DataField="NgayCapChungChiKTV" HeaderText="Ngày cấp CC KTV" ItemStyle-HorizontalAlign="Center" ItemStyle-VerticalAlign="Middle" />
                                

                                 <asp:BoundField DataField="TT_KTKiT" HeaderText="TT_KTKiT" ItemStyle-HorizontalAlign="Right" ItemStyle-VerticalAlign="Middle" />
                                 <asp:BoundField DataField="TT_DaoDuc" HeaderText="TT_DaoDuc" ItemStyle-HorizontalAlign="Right" ItemStyle-VerticalAlign="Middle" />
                                 <asp:BoundField DataField="TT_Khac" HeaderText="TT_Khac" ItemStyle-HorizontalAlign="Right" ItemStyle-VerticalAlign="Middle" />
                                
                                 <asp:BoundField DataField="CT_KTKiT" HeaderText="CT_KTKiT" ItemStyle-HorizontalAlign="Right" ItemStyle-VerticalAlign="Middle" />
                                 <asp:BoundField DataField="CT_DaoDuc" HeaderText="CT_DaoDuc" ItemStyle-HorizontalAlign="Right" ItemStyle-VerticalAlign="Middle" />
                                 <asp:BoundField DataField="CT_Khac" HeaderText="CT_Khac" ItemStyle-HorizontalAlign="Right" ItemStyle-VerticalAlign="Middle" />
                                

                                 <asp:BoundField DataField="CT_Tong" HeaderText="CT_Tong" ItemStyle-HorizontalAlign="Right" ItemStyle-VerticalAlign="Middle" />
                                
                                  
                                </Columns>
                            </asp:GridView>
                            
                        </ContentTemplate>
                    </asp:UpdatePanel>


            </div>
            </div>
 
            
                       <div class="wizButtons" style=" text-align:center; padding: 7px"> 
			    <br>
              
                 
                  <asp:HiddenField ID="hidendHoiVienTapTheID" runat="server"></asp:HiddenField>
                   <asp:HiddenField ID="hidendLopHocID" runat="server"></asp:HiddenField>
                  <asp:HiddenField ID="hidendDonHoiVienTapTheID" runat="server"></asp:HiddenField>
                  <asp:HiddenField ID="hidendChiNhanhID" runat="server"></asp:HiddenField>
                  <asp:HiddenField ID="hidKhachHangID" runat="server" />
                  <asp:HiddenField ID="hidQuanTriID" runat="server" />
                   <asp:HiddenField ID="hidMode" runat="server" />
		    </div>	
					
	   	    </div>

		</div>
			<!-- END .panel -->
			</div>
        </div>
    </div>
       
  </section>

   




       
    </div>    
    </form>