﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="thongbao_add.ascx.cs" Inherits="usercontrols_QLHV_thongbao_add" %>
<script type="text/javascript"  src="/js/editor/ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="/js/editor/ckeditor/adapters/jquery.js"></script>
<form id="form_thongbao" method="post" enctype="multipart/form-data" action="">
<asp:PlaceHolder ID="ErrorMessage" runat="server"></asp:PlaceHolder>
<input type="hidden" id="id_hv" name="id_hv" />
<br />
  <input type="checkbox" id="sendHVTT" name="sendHVTT" value="1" />&nbsp;Gửi cho HVTC&nbsp;&nbsp;
  <input type="checkbox" id="sendCTKT" name="sendCTKT" value="1" />&nbsp;Gửi cho CTKT&nbsp;&nbsp;
  <input type="checkbox" id="sendHVCN" name="sendHVCN" value="1" />&nbsp;Gửi cho HVCN&nbsp;&nbsp;
  <input type="checkbox" id="sendKTV" name="sendKTV" value="1" />&nbsp;Gửi cho KTV&nbsp;&nbsp;
  <input type="checkbox" id="sendNQT" name="sendNQT" value="1" />&nbsp;Gửi cho NQT&nbsp;&nbsp;
  <input type="checkbox" id="sendEmail" name="sendEmail" value="1" />&nbsp;Gửi email

    <table  width="100%" border="0" class="formtbl" style="margin-top:5px;"  >
    <tr> 
        <td  style="width:100px" ><label>Tiêu đề: </label></td>
         <td  colspan="3" >  
           <input type="text" id="TieuDeThongBao" name="TieuDeThongBao" />            
         </td>             
    </tr>
    <tr> 
        <td  style="width:100px" ><label>Nội dung thông báo: </label></td>
         <td  colspan="3" >  
           <textarea name="NoiDungThongBao" id="NoiDungThongBao" rows="8" cols="10" class="ckeditor"></textarea>              
         </td>             
    </tr>
    <tr> 
        <td  style="width:100px" ><label>File đính kèm: </label></td>
         <td  colspan="3" >  
           <input type="file" id="FileDinhKem" name="FileDinhKem" />
         </td>             
    </tr>
    </table>
    </form>
    <script type="text/javascript">
        function submitform() {
            jQuery("#form_thongbao").submit();
        }
    </script>