﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="xoatenhoiviencanhan_add.ascx.cs" Inherits="usercontrols_QLHV_xoatenhoiviencanhan_add" %>

<asp:PlaceHolder ID="ErrorMessage" runat="server"></asp:PlaceHolder> 
 <style>
        .ui-datepicker 
        {
            z-index: 99999999 !important;
        }
        
    </style>
   <form id="Form1" runat="server">
    <asp:ScriptManager ID="ScriptManager1" runat="server">
</asp:ScriptManager>
   
   
  <table  width="100%" border="0" class="formtbl"  >
    
      <tr>
        <td ><label>Điều kiện xóa tên: </label></td>
       
          <td  colspan="3" >  
              <table  width="100%"  border="0" > 
         <tr>
          <td  style="width:130px" > <input id="tk_LyDoKhac" name="tk_LyDoKhac" type="checkbox"  class="input-xlarge checkall"  value="true"  /><label  style="width:100px" >Lý do khác</label> 
                 </td>
          <td style="width:130px" colspan="2" >  <input id="tk_KhongNopPhi" name="tk_KhongNopPhi" type="checkbox"  class="checkbox"  value="true"  /><label  style="width:100px" >Hội viên không nộp phí 3 năm</label> 
                 </td>
         
          <td style="width:130px" ></td>
         </tr>
        </table>
                
                   </td>
       
    </tr>
   <tr>
    <td colspan="4">

    <table id="tablesearch"  name="tablesearch" width="100%"  border="0" >
    <tr>
        <td><label>Tên khách hàng:</label></td>
        <td> 
         <input type="text" name="tk_TenHoiVien" id="tk_TenHoiVien" class="input-xlarge">  </td>
         <td><label>ID khách hàng:</label></td>
 
         <td>
           
            <input type="text" name="tk_ID" id="tk_ID" class="input-xlarge">  
             </td>
        
         
    </tr>
   <tr>
        <td><label>Giới tính:</label></td>
        <td> <table  width="100%"  border="0" > 
         <tr>
          <td  style="width:130px" > <input id="tk_Nam" name="tk_Nam" type="checkbox"  class="input-xlarge checkall"  value="true"  /><label  style="width:100px" >Nam</label> 
                 </td>
          <td style="width:130px" >  <input id="tk_Nu" name="tk_Nu" type="checkbox"  class="checkbox"  value="true"  /><label  style="width:100px" >Nữ</label> 
                 </td>
          
         </tr>
        </table>
         </td>
         <td><label>Có chứng chỉ nước ngoài:</label></td>
         <td>
 <table  width="100%"  border="0" > 
         <tr>
          <td  style="width:130px" > <input id="tk_ChungChi_Co" name="tk_ChungChi_Co" type="checkbox"  class="input-xlarge checkall"  value="true"  /><label  style="width:100px" >Có</label> 
                 </td>
          <td style="width:130px" >  <input id="tk_ChungChi_Khong" name="tk_ChungChi_Khong" type="checkbox"  class="checkbox"  value="true"  /><label  style="width:100px" >Không</label> 
                 </td>
          
         </tr>
        </table>
        </td>
         
    </tr>
    <tr>
        <td><label>Tỉnh thành:</label></td>
        <td>  <select  style="width:100%"  name="TinhID_ToChuc" id="TinhID_ToChuc">
              <% cm.Load_ThanhPho("00"); %>
       </select> 
         </td>
         <td><label>Quận huyện:</label></td>
 
         <td>  
              
    <select id="HuyenID_ToChuc" style="width:100%"  name="HuyenID_ToChuc">        
             <%  
                     try
                     {
                         cm.Load_QuanHuyen("000", "00");
                     }
                     catch
                     {

                     }
              
              %>  
    

</select>
    
         </td>
        
         
    </tr>
     <tr>
        <td><label>Ngày gia nhập:</label></td>
        <td>  
         <input  style="width:100px" type="text"  name="tk_NgayNopTu" id="tk_NgayNopTu" class="input-xlarge">  - <input style="width:100px"  type="text" name="tk_NgayNopDen" id="tk_NgayNopDen" class="input-xlarge">    </td>
       
           <td><label>Số giấy CN ĐKHNKiT:</label></td>
 
       <td><input type="text" name="tk_SoDKHN" id="tk_SoDKHN" class="input-xlarge"> 
        </td>
        
         
         
    </tr>

     <tr>
        <td><label>Đơn vị công tác:</label></td>
        <td colspan="3">  
         <input type="text" name="tk_DonViCongTac" id="tk_DonViCongTac" class="input-xlarge"></td>
    
    </tr>
    

</table>
</td>
    </tr>
        

</table>
        <input type="hidden" value="0" id="tranghientai" name="tranghientai" />
        <input type="hidden" value="0" id="ketxuat" name="ketxuat" /> 
 
   <div>
        <div   style="width: 100%; text-align: center; margin-top: 5px;">
          

       
       <%-- <a id="btn_capnhat"  href="#none" class="btn btn-rounded" onclick="open_user_edit(Users_grv_selected);"><i class="iconsweets-create"></i> Cập nhật</a>--%>
         <a id="btn_xoaten"   href="#none" class="btn btn-rounded" onclick="confirm_delete_user(Users_grv_selected) ;" ><i class="iconfa-save"></i>Xóa tên</a>
     <asp:LinkButton ID="lbtSearch"     runat="server" CssClass="btn" 
        onclick="lbtSearch_Click" ><i class="iconfa-search">
    </i>Tìm kiếm</asp:LinkButton>
        <a id="btn_dong"   href="#none" class="btn btn-rounded"  onclick="parent.CloseFormDanhSachKhachHang();" ><i class="iconfa-stop"></i>Đóng</a>
        </div>
       
           <div  class="dataTables_length" > <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </label></div>
   </div>
       

    <asp:UpdatePanel ID="UpdatePanelThongTinKH" runat="server" ><ContentTemplate>
 
<asp:GridView ClientIDMode="Static" ID="Users_grv" runat="server" 
       AutoGenerateColumns="False" class="table table-bordered responsive dyntable" 
       AllowPaging="True" AllowSorting="True" 
       onpageindexchanging="Users_grv_PageIndexChanging" onsorting="Users_grv_Sorting"    
       >
          <Columns>
              <asp:TemplateField HeaderText='<input type="checkbox"  class="checkall" value="all" />' ItemStyle-Width="30px" >
                  <ItemTemplate>
                      <input type="checkbox" class="colcheckbox" value="<%# Eval("HoiVienID")%>" />
                  </ItemTemplate>
              </asp:TemplateField>
      
             <asp:BoundField DataField="TenDangNhap" HeaderText="ID" 
                  SortExpression="TenDangNhap" />
           
              <asp:BoundField DataField="TenKhachHang" HeaderText="Tên khách hàng" 
                  SortExpression="TenKhachHang" />
                   <asp:BoundField DataField="DonVi" HeaderText="Đơn vị công tác" 
                  SortExpression="DonVi" />
                <asp:BoundField DataField="DoiTuong" HeaderText="Đối tượng" 
                  SortExpression="DoiTuong" />

              <asp:BoundField DataField="NgayGiaNhap" HeaderText="Ngày gia nhập" 
                  SortExpression="NgayGiaNhap" DataFormatString="{0:dd/MM/yyyy}" />
           <%--   <asp:BoundField DataField="NgayXoaTen" HeaderText="Ngày thôi gia nhập" 
                  SortExpression="NgayXoaTen" DataFormatString="{0:dd/MM/yyyy}" />--%>
                    <asp:BoundField DataField="TinhTrang" HeaderText="Trạng thái" 
                  SortExpression="TinhTrang" />    
            
            

          </Columns>
</asp:GridView>
 
<div class="dataTables_info" id="dyntable_info">Chuyển đến trang: 

<asp:DropDownList ID="Pager" runat="server" AutoPostBack="true"
                                        style="padding: 1px; width:55px;"
                                        
       onchange="$('#tranghientai').val(this.value);  "
        onselectedindexchanged="Pager_SelectedIndexChanged" >
                                     </asp:DropDownList>

</div>
 </ContentTemplate></asp:UpdatePanel> 
 
</form>





<script type="text/javascript">

<% annut(); %>
    // Array ID được check
    var Users_grv_selected = new Array();

    jQuery(document).ready(function () {
        // dynamic table      

        $("#Users_grv .checkall").bind("click", function () {
            Users_grv_selected = new Array();
            checked = $(this).prop("checked");
            $('#Users_grv :checkbox').each(function () {
                $(this).prop("checked", checked);
                if ((checked) && ($(this).val() != "all")) Users_grv_selected.push($(this).val());
            });
        });

        $('#Users_grv :checkbox').each(function () {
            $(this).bind("click", function () {
                removeItem(Users_grv_selected, $(this).val())
                checked = $(this).prop("checked");
                if ((checked) && ($(this).val() != "all")) Users_grv_selected.push($(this).val());
            });
        });
    });

 


    // Xác nhận xóa hội viên
    function confirm_delete_user(idxoa) {
     
     if($('#tk_LyDoKhac').is(':checked'))
    {
        $("#div_user_delete").dialog({
            resizable: false,
            width: 500,
            height: 300,
            modal: true,
            buttons: {
                "Xóa": function () {
                 var dieukienxoaten;
                 var diengiai;
                 dieukienxoaten= $('#DieuKienXoaTen').val();
                 diengiai= $('#DienGiai').val();
                 loaixoaten=2; //0: tự nguyện; 1: nợ phí 3 năm; 2: lý do khác
               // alert('dk:'+ dieukienxoaten+'--diengiai:'+ diengiai+'--id:'+idxoa )
               parent.CloseFormDanhSachKhachHang();
                window.parent.location = 'admin.aspx?page=xoatenhoiviencanhan&act=delete&loaixoaten='+loaixoaten+'&dieukienxoaten='+dieukienxoaten+'&diengiai='+diengiai+'&id=' + idxoa;
                
                   
                },
                "Bỏ qua": function () {
                    $(this).dialog("close");
                }
            }

        });
        $('#div_user_delete').parent().find('button:contains("Xóa")').addClass('btn btn-rounded').prepend('<i class="iconfa-trash"> </i>&nbsp;');
        $('#div_user_delete').parent().find('button:contains("Bỏ qua")').addClass('btn btn-rounded').prepend('<i class="iconfa-minus-sign"> </i>&nbsp;');
    }
    else{
     
     
         
          $("#div_user_NoPhi3Nam_delete").dialog({
            resizable: false,
            modal: true,
            buttons: {
                "Xóa": function () {
                 var dieukienxoaten;
                 var diengiai;
                 dieukienxoaten= $('#DieuKienXoaTenNoPhi3Nam').val();
                 diengiai= $('#DienGiaiNoPhi3Nam').val();
                 loaixoaten=1; //0: tự nguyện; 1: nợ phí 3 năm; 2: lý do khác
               //  alert('dk:'+ dieukienxoaten+'--diengiai:'+ diengiai+'--id:'+idxoa )
               parent.CloseFormDanhSachKhachHang();
               window.parent.location = 'admin.aspx?page=xoatenhoiviencanhan&act=delete&loaixoaten='+loaixoaten+'&dieukienxoaten='+dieukienxoaten+'&diengiai='+diengiai+'&id=' + idxoa;
               // window.location = 'admin.aspx?page=xoatenhoivientapthe_add&act=delete&loaixoaten='+loaixoaten+'&dieukienxoaten='+dieukienxoaten+'&diengiai='+diengiai+'&id=' + idxoa;
                 
                   
                },
                "Bỏ qua": function () {
                    $(this).dialog("close");
                }
            }

        });
        $('#div_user_NoPhi3Nam_delete').parent().find('button:contains("Xóa")').addClass('btn btn-rounded').prepend('<i class="iconfa-trash"> </i>&nbsp;');
        $('#div_user_NoPhi3Nam_delete').parent().find('button:contains("Bỏ qua")').addClass('btn btn-rounded').prepend('<i class="iconfa-minus-sign"> </i>&nbsp;');

   }
   }

    // Sửa thông tin hội viên
    function open_user_edit(id, loai ) {
        var timestamp = Number(new Date());
        if(loai==1)
        {
           window.location = "admin.aspx?page=hosohoiviencanhan&id=" + id + "&act=edit&time=" + timestamp
        }else{
           window.location = "admin.aspx?page=hosohoivientapthe_edit&id=" + id + "&act=edit&time=" + timestamp
        }
         
//        $("#div_user_add").empty();
//        $("#div_user_add").append($("<iframe width='100%' height='100%' id='iframe_user_add' name='iframe_user_add' scrolling='auto' frameborder='0' />").attr("src", "iframe.aspx?page=hosohoivientapthe_edit&id=" + id + "&mode=edit&time=" + timestamp));
//        $("#div_user_add").dialog({
//            resizable: true,
//            width: 850,
//            height: 640,
//            title: "<img src='images/icons/user_business.png'>&nbsp;<b>Sửa thông tin đơn hội viên</b>",
//            modal: true,
//            buttons: {

//                "Ghi": function () {
//                    window.frames['iframe_user_add'].submitform();
//                },

//                "Bỏ qua": function () {
//                    $(this).dialog("close");
//                }
//            }

//        });

//        $('#div_user_add').parent().find('button:contains("Ghi")').addClass('btn btn-rounded').prepend('<i class="iconfa-ok"> </i>&nbsp;');
//        $('#div_user_add').parent().find('button:contains("Bỏ qua")').addClass('btn btn-rounded').prepend('<i class="iconfa-minus-sign"> </i>&nbsp;');
    }


    // Xem thông tin hội viên
    function open_user_view(id,loai) {
        var timestamp = Number(new Date());
       if(loai==1)// ca nhan
        {
           window.location = "admin.aspx?page=hosohoiviencanhan&id=" + id + "&act=view&time=" + timestamp
        }else{ // tap the
           window.location = "admin.aspx?page=hosohoivientapthe_edit&id=" + id + "&act=view&time=" + timestamp
        }
     
//        $("#div_user_add").empty();
//        $("#div_user_add").append($("<iframe width='100%' height='100%' id='iframe_user_add' name='iframe_user_add' scrolling='auto' frameborder='0' />").attr("src", "iframe.aspx?page=hosohoivientapthe_edit&id=" + id + "&mode=view&time=" + timestamp));
//        $("#div_user_add").dialog({
//            resizable: true,
//            width: 850,
//            height: 640,
//            title: "<img src='images/icons/user_business.png'>&nbsp;<b>Xem thông tin đơn hội viên</b>",
//            modal: true,
//            buttons: {

//                "Bỏ qua": function () {
//                    $(this).dialog("close");
//                }
//            }

//        });

//        $('#div_user_add').parent().find('button:contains("Bỏ qua")').addClass('btn btn-rounded').prepend('<i class="iconfa-minus-sign"> </i>&nbsp;');
    }



    // mở form thêm hội viên 
    function open_user_add() {

  
        var timestamp = Number(new Date());
      window.location = "admin.aspx?page=hoiviencanhan_add&time=" + timestamp

//        $("#div_user_add").empty();
//        $("#div_user_add").append($("<iframe width='100%' height='100%' id='iframe_user_add' name='iframe_user_add' scrolling='auto' frameborder='0' />").attr("src", "iframe.aspx?page=hosohoivientapthe_edit&mode=iframe&time=" + timestamp));
//        $("#div_user_add").dialog({
//            resizable: true,
//            width: 850,
//            height: 640,
//            title: "<img src='images/icons/user_business.png'>&nbsp;<b>Thêm đơn gia nhập hội viên mới</b>",
//            modal: true,
//            close: function (event, ui) { window.location = 'admin.aspx?page=danhsachkhachhangtapthe'; },
//            buttons: {

//                "Ghi": function () {
//                    window.frames['iframe_user_add'].submitform();
//                   // $("#iframe_user_add")[0].contentWindow.submitform();
//                   
//                },

//                "Bỏ qua": function () {
//                    $(this).dialog("close");
//                }
//            }

//        });

//        $('#div_user_add').parent().find('button:contains("Ghi")').addClass('btn btn-rounded').prepend('<i class="iconfa-ok"> </i>&nbsp;');
//        $('#div_user_add').parent().find('button:contains("Bỏ qua")').addClass('btn btn-rounded').prepend('<i class="iconfa-minus-sign"> </i>&nbsp;');
//   
   
    }
      // mở form thêm hội viên ca nhan
    function open_hvcn_add() {

  
        var timestamp = Number(new Date());
      window.location = "admin.aspx?page=hoiviencanhan_add&act=add&time=" + timestamp
       
    }

   
    
    function xulydon_hv(lstid , act ) {
         
        window.location = 'admin.aspx?page=danhsachkhachhang&act='+act+'&id=' + lstid;

    }

     
    // Tìm kiếm
    function open_user_search() {
        var timestamp = Number(new Date());

        $("#div_user_search").dialog({
            resizable: true,
           width: 765,
            height: 440,
            title: "<img src='images/icons/user_business.png'>&nbsp;<b>Tìm kiếm thông tin hội viên</b>",
            modal: true,
            buttons: {

                "Tìm kiếm": function () {
                    $(this).find("form#user_search").submit();
                },

                "Bỏ qua": function () {
                    $(this).dialog("close");
                }
            }

        });

        $('#div_user_search').parent().find('button:contains("Tìm kiếm")').addClass('btn btn-rounded').prepend('<i class="iconfa-search"> </i>&nbsp;');
        $('#div_user_search').parent().find('button:contains("Bỏ qua")').addClass('btn btn-rounded').prepend('<i class="iconfa-minus-sign"> </i>&nbsp;');
    }


    function export_excel()
    {
        $('#ketxuat').val('1');
        $('#user_search').submit();
        $('#ketxuat').val('0');
    }


    // Hiển thị tooltip
    if (jQuery('#Users_grv').length > 0) jQuery('#Users_grv').tooltip({ selector: "a[rel=tooltip]" });


</script>

<div id="div_user_add" >
</div>


<script language="javascript">
 $('#tk_KhongNopPhi').prop('checked',   '<%=Request.Form["tk_KhongNopPhi"]%>' );
//    $('#tk_LyDoKhac').prop('checked',  '<%=Request.Form["tk_LyDoKhac"]%>' );
   $('#tk_LyDoKhac').prop('checked',  !$('#tk_KhongNopPhi').is(':checked') );
    
     if($('#tk_KhongNopPhi').is(':checked')) { // check select status
                    $("#tablesearch").hide();
     }else{    $("#tablesearch").show();  }
   
    
     $('#tk_TenHoiVien').val('<%=Request.Form["tk_TenHoiVien"]%>');
    $('#tk_ID').val('<%=Request.Form["tk_ID"]%>');

    $('#tk_Nam').prop('checked',  '<%=Request.Form["tk_Nam"]%>' );
    $('#tk_Nu').prop('checked',  '<%=Request.Form["tk_Nu"]%>' );

       $('#TinhID_ToChuc').val('<%=Request.Form["TinhID_ToChuc"]%>');
    $('#HuyenID_ToChuc').val('<%=Request.Form["HuyenID_ToChuc"]%>');
     $('#tk_NgayNopTu').val('<%=Request.Form["tk_NgayNopTu"]%>');
      $('#tk_NgayNopDen').val('<%=Request.Form["tk_NgayNopDen"]%>');
     $('#tk_SoDKHN').val('<%=Request.Form["tk_SoDKHN"]%>');
     $('#tk_DonViCongTac').val('<%=Request.Form["tk_DonViCongTac"]%>');
  
      <% cm.chondiaphuong_script("ToChuc",0); %>

         $.datepicker.setDefaults($.datepicker.regional['vi']);


    $(function () {
        $("#tk_NgayNopTu").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: "dd/mm/yy"    ,
            yearRange: "-75:+25",
             onClose: function (selectedDate) {
               
                 $("#tk_NgayNopDen").datepicker("option", "minDate", selectedDate);

              }
                    
        }) ;

         $("#tk_NgayNopDen").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: "dd/mm/yy"     ,
            yearRange: "-75:+25",
             onClose: function (selectedDate) {
              
                $("#tk_NgayNopTu").datepicker("option", "maxDate", selectedDate);

            }
                 
        }) ;
         $("#tk_NgayPheDuyetTu").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: "dd/mm/yy"  ,
            yearRange: "-75:+25",
             onClose: function (selectedDate) {
               
                 $("#tk_NgayPheDuyetDen").datepicker("option", "minDate", selectedDate);

              }        
        }) ;
         $("#tk_NgayPheDuyetDen").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: "dd/mm/yy"       ,
            yearRange: "-75:+25",
             onClose: function (selectedDate) {
              
                $("#tk_NgayPheDuyetTu").datepicker("option", "maxDate", selectedDate);

            }     
        }) ;

    });
     
$(document).ready(function() {
           
           
            $( '#tk_LyDoKhac' ).bind( "click", function() {
               if(this.checked) { // check select status
                    $('#tk_KhongNopPhi').prop('checked',  false );

                    $("#tablesearch").show();
        
                }else{
                    $('#tk_KhongNopPhi').prop('checked',  true );
                     $("#tablesearch").hide();
                }
                  
             });
             

              $( '#tk_KhongNopPhi' ).bind( "click", function() {
               if(this.checked) { // check select status
                    $('#tk_LyDoKhac').prop('checked',  false );
                      $("#tablesearch").hide();
        
                }else{
                    $('#tk_LyDoKhac').prop('checked',  true );
                     $("#tablesearch").show();
                }
                  
             });

          
   });

 </script>

<div id="div_user_delete" style="display:none" title="<img src='images/icons/application_form_delete.png'> <b>Xác nhận xóa</b>">

  <p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>Xóa tên (các) bản ghi được chọn?</p>
     <table  width="100%" border="0" class="formtbl"  >
     <tr> 
        <td  style="width:100px" ><label>Điều kiện xóa tên: </label></td>
         <td  colspan="3" >  
           <input type="text" name="DieuKienXoaTen" id="DieuKienXoaTen" class="input-xlarge"/> 
                
         </td>
        
      
    </tr>
    
    <tr> 
        <td  style="width:100px" ><label>Diễn giải: </label></td>
         <td  colspan="3" >  
           <input type="text" name="DienGiai" id="DienGiai" class="input-xlarge"/> 
                
         </td>
        
      
    </tr>
    
    </table>
</div>

<div id="div_user_NoPhi3Nam_delete" style="display:none" title="<img src='images/icons/application_form_delete.png'> <b>Xác nhận xóa</b>">

  <p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>Xóa tên (các) bản ghi được chọn?</p>
     <table  width="100%" border="0" class="formtbl"  >
     <tr> 
        <td  style="width:100px" ><label>Điều kiện xóa tên: </label></td>
         <td  colspan="3" >  
           <input type="text" name="DieuKienXoaTenNoPhi3Nam" id="DieuKienXoaTenNoPhi3Nam" class="input-xlarge" readonly="readonly" value="Hội viên nợ phí 3 năm" /> 
                
         </td>
        
      
    </tr>
    
    <tr> 
        <td  style="width:100px" ><label>Diễn giải: </label></td>
         <td  colspan="3" >  
           <input type="text" name="DienGiaiNoPhi3Nam" id="DienGiaiNoPhi3Nam" class="input-xlarge"/> 
                
         </td>
        
      
    </tr>
    
    </table>
</div>