﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="adminhome.ascx.cs" Inherits="usercontrols_adminhome" %>


<%--

                        
                        <h5 ><b>Quản trị danh mục</b></h5>
                        <ul class="shortcuts">
                            <li class="events">
                                <a href="">
                                    <span class="shortcuts-icon iconfa-globe" ></span>
                                    <span class="shortcuts-label">Tỉnh / Thành phố</span>
                                </a>
                            </li>
                            <li class="products">
                                <a href="">
                                    <span class="shortcuts-icon iconfa-map-marker"></span>
                                    <span class="shortcuts-label">Quận / Huyện</span>
                                </a>
                            </li>
                            <li class="archive">
                                <a href="">
                                    <span class="shortcuts-icon iconfa-pushpin"></span>
                                    <span class="shortcuts-label">Phường / Xã</span>
                                </a>
                            </li>
                            <li class="help">
                                <a href="">
                                    <span class="shortcuts-icon iconfa-question-sign"></span>
                                    <span class="shortcuts-label">Câu hỏi bí mật</span>
                                </a>
                            </li>
                            <li class="last images">
                                <a href="">
                                    <span class="shortcuts-icon iconfa-sitemap"></span>
                                    <span class="shortcuts-label">Cơ cấu tổ chức VACPA</span>
                                </a>
                            </li>


                        <li class="events">
                                <a href="">
                                    <span class="shortcuts-icon iconfa-star-empty" ></span>
                                    <span class="shortcuts-label">Chức vụ</span>
                                </a>
                            </li>
                            <li class="products">
                                <a href="">
                                    <span class="shortcuts-icon iconfa-credit-card"></span>
                                    <span class="shortcuts-label">Chứng chỉ</span>
                                </a>
                            </li>
                            <li class="archive">
                                <a href="">
                                    <span class="shortcuts-icon iconfa-book"></span>
                                    <span class="shortcuts-label">Chuyên ngành đào tạo</span>
                                </a>
                            </li>
                            <li class="help">
                                <a href="">
                                    <span class="shortcuts-icon iconfa-gift"></span>
                                    <span class="shortcuts-label">Hình thức khen thưởng</span>
                                </a>
                            </li>
                            <li class="last images">
                                <a href="">
                                    <span class="shortcuts-icon iconfa-warning-sign"></span>
                                    <span class="shortcuts-label">Hình thức kỷ luật</span>
                                </a>
                            </li>
                  <li class="archive">
                                <a href="">
                                    <span class="shortcuts-icon iconfa-briefcase"></span>
                                    <span class="shortcuts-label">Học hàm</span>
                                </a>
                            </li>
                            <li class="help">
                                <a href="">
                                    <span class="shortcuts-icon iconfa-bookmark"></span>
                                    <span class="shortcuts-label">Học vị</span>
                                </a>
                            </li>
                            <li class="last images">
                                <a href="">
                                    <span class="shortcuts-icon iconfa-legal"></span>
                                    <span class="shortcuts-label">Loại hình doanh nghiệp</span>
                                </a>
                            </li>

                <li class="archive">
                                <a href="">
                                    <span class="shortcuts-icon iconfa-tags"></span>
                                    <span class="shortcuts-label">Loại phí</span>
                                </a>
                            </li>
                            <li class="help">
                                <a href="">
                                    <span class="shortcuts-icon iconfa-money"></span>
                                    <span class="shortcuts-label">Loại tiền</span>
                                </a>
                            </li>
                            <li class="last images">
                                <a href="">
                                    <span class="shortcuts-icon iconfa-key"></span>
                                    <span class="shortcuts-label">Ngân hàng</span>
                                </a>
                            </li>
                                       <li class="help">
                                <a href="">
                                    <span class="shortcuts-icon iconfa-fire"></span>
                                    <span class="shortcuts-label">Trình độ chuyên môn</span>
                                </a>
                            </li>
                            <li class="last images">
                                <a href="">
                                    <span class="shortcuts-icon iconfa-bell"></span>
                                    <span class="shortcuts-label">Trường đại học</span>
                                </a>
                            </li>
                        </ul>
                        
                        <br />
                        
<br />
                        
                        
--%>