﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="icon.ascx.cs" Inherits="usercontrols_icon" %>

                <div class="tabbable">
                    <ul class="nav nav-tabs buttons-icons">
                    	<li class="active"><a data-toggle="tab" href="#glyphs">Icon 1</a></li>
                        <li><a data-toggle="tab" href="#fontawesome">Icon 2</a></li>
                        <li><a data-toggle="tab" href="#iconsweets">Icon 3</a></li>
                        <li><a data-toggle="tab" href="#examples">Ví dụ</a></li>
                    </ul>
                	<div class="tab-content">
                    	<div id="glyphs" class="tab-pane active">
                      
                                <ul class="glyphicons clearfix">
                                <li><i class="icon-glass"></i> icon-glass</li>
                                <li><i class="icon-music"></i> icon-music</li>
                                <li><i class="icon-search"></i> icon-search</li>
                                <li><i class="icon-envelope"></i> icon-envelope</li>
                                <li><i class="icon-heart"></i> icon-heart</li>
                                <li><i class="icon-star"></i> icon-star</li>
                                <li><i class="icon-star-empty"></i> icon-star-empty</li>
                                <li><i class="icon-user"></i> icon-user</li>
                                <li><i class="icon-film"></i> icon-film</li>
                                <li><i class="icon-th-large"></i> icon-th-large</li>
                                <li><i class="icon-th"></i> icon-th</li>
                                <li><i class="icon-th-list"></i> icon-th-list</li>
                                <li><i class="icon-ok"></i> icon-ok</li>
                                <li><i class="icon-remove"></i> icon-remove</li>
                                <li><i class="icon-zoom-in"></i> icon-zoom-in</li>
                                <li><i class="icon-zoom-out"></i> icon-zoom-out</li>
                                <li><i class="icon-off"></i> icon-off</li>
                                <li><i class="icon-signal"></i> icon-signal</li>
                                <li><i class="icon-cog"></i> icon-cog</li>
                                <li><i class="icon-trash"></i> icon-trash</li>
                                <li><i class="icon-home"></i> icon-home</li>
                                <li><i class="icon-file"></i> icon-file</li>
                                <li><i class="icon-time"></i> icon-time</li>
                                <li><i class="icon-road"></i> icon-road</li>
                                <li><i class="icon-download-alt"></i> icon-download-alt</li>
                                <li><i class="icon-download"></i> icon-download</li>
                                <li><i class="icon-upload"></i> icon-upload</li>
                                <li><i class="icon-inbox"></i> icon-inbox</li>
                                <li><i class="icon-play-circle"></i> icon-play-circle</li>
                                <li><i class="icon-repeat"></i> icon-repeat</li>
                                <li><i class="icon-refresh"></i> icon-refresh</li>
                                <li><i class="icon-list-alt"></i> icon-list-alt</li>
                                <li><i class="icon-lock"></i> icon-lock</li>
                                <li><i class="icon-flag"></i> icon-flag</li>
                                <li><i class="icon-headphones"></i> icon-headphones</li>
                                <li><i class="icon-volume-off"></i> icon-volume-off</li>
                                <li><i class="icon-volume-down"></i> icon-volume-down</li>
                                <li><i class="icon-volume-up"></i> icon-volume-up</li>
                                <li><i class="icon-qrcode"></i> icon-qrcode</li>
                                <li><i class="icon-barcode"></i> icon-barcode</li>
                                <li><i class="icon-tag"></i> icon-tag</li>
                                <li><i class="icon-tags"></i> icon-tags</li>
                                <li><i class="icon-book"></i> icon-book</li>
                                <li><i class="icon-bookmark"></i> icon-bookmark</li>
                                <li><i class="icon-print"></i> icon-print</li>
                                <li><i class="icon-camera"></i> icon-camera</li>
                                <li><i class="icon-font"></i> icon-font</li>
                                <li><i class="icon-bold"></i> icon-bold</li>
                                <li><i class="icon-italic"></i> icon-italic</li>
                                <li><i class="icon-text-height"></i> icon-text-height</li>
                                <li><i class="icon-text-width"></i> icon-text-width</li>
                                <li><i class="icon-align-left"></i> icon-align-left</li>
                                <li><i class="icon-align-center"></i> icon-align-center</li>
                                <li><i class="icon-align-right"></i> icon-align-right</li>
                                <li><i class="icon-align-justify"></i> icon-align-justify</li>
                                <li><i class="icon-list"></i> icon-list</li>
                                <li><i class="icon-indent-left"></i> icon-indent-left</li>
                                <li><i class="icon-indent-right"></i> icon-indent-right</li>
                                <li><i class="icon-facetime-video"></i> icon-facetime-video</li>
                                <li><i class="icon-picture"></i> icon-picture</li>
                                <li><i class="icon-pencil"></i> icon-pencil</li>
                                <li><i class="icon-map-marker"></i> icon-map-marker</li>
                                <li><i class="icon-adjust"></i> icon-adjust</li>
                                <li><i class="icon-tint"></i> icon-tint</li>
                                <li><i class="icon-edit"></i> icon-edit</li>
                                <li><i class="icon-share"></i> icon-share</li>
                                <li><i class="icon-check"></i> icon-check</li>
                                <li><i class="icon-move"></i> icon-move</li>
                                <li><i class="icon-step-backward"></i> icon-step-backward</li>
                                <li><i class="icon-fast-backward"></i> icon-fast-backward</li>
                                <li><i class="icon-backward"></i> icon-backward</li>
                                <li><i class="icon-play"></i> icon-play</li>
                                <li><i class="icon-pause"></i> icon-pause</li>
                                <li><i class="icon-stop"></i> icon-stop</li>
                                <li><i class="icon-forward"></i> icon-forward</li>
                                <li><i class="icon-fast-forward"></i> icon-fast-forward</li>
                                <li><i class="icon-step-forward"></i> icon-step-forward</li>
                                <li><i class="icon-eject"></i> icon-eject</li>
                                <li><i class="icon-chevron-left"></i> icon-chevron-left</li>
                                <li><i class="icon-chevron-right"></i> icon-chevron-right</li>
                                <li><i class="icon-plus-sign"></i> icon-plus-sign</li>
                                <li><i class="icon-minus-sign"></i> icon-minus-sign</li>
                                <li><i class="icon-remove-sign"></i> icon-remove-sign</li>
                                <li><i class="icon-ok-sign"></i> icon-ok-sign</li>
                                <li><i class="icon-question-sign"></i> icon-question-sign</li>
                                <li><i class="icon-info-sign"></i> icon-info-sign</li>
                                <li><i class="icon-screenshot"></i> icon-screenshot</li>
                                <li><i class="icon-remove-circle"></i> icon-remove-circle</li>
                                <li><i class="icon-ok-circle"></i> icon-ok-circle</li>
                                <li><i class="icon-ban-circle"></i> icon-ban-circle</li>
                                <li><i class="icon-arrow-left"></i> icon-arrow-left</li>
                                <li><i class="icon-arrow-right"></i> icon-arrow-right</li>
                                <li><i class="icon-arrow-up"></i> icon-arrow-up</li>
                                <li><i class="icon-arrow-down"></i> icon-arrow-down</li>
                                <li><i class="icon-share-alt"></i> icon-share-alt</li>
                                <li><i class="icon-resize-full"></i> icon-resize-full</li>
                                <li><i class="icon-resize-small"></i> icon-resize-small</li>
                                <li><i class="icon-plus"></i> icon-plus</li>
                                <li><i class="icon-minus"></i> icon-minus</li>
                                <li><i class="icon-asterisk"></i> icon-asterisk</li>
                                <li><i class="icon-exclamation-sign"></i> icon-exclamation-sign</li>
                                <li><i class="icon-gift"></i> icon-gift</li>
                                <li><i class="icon-leaf"></i> icon-leaf</li>
                                <li><i class="icon-fire"></i> icon-fire</li>
                                <li><i class="icon-eye-open"></i> icon-eye-open</li>
                                <li><i class="icon-eye-close"></i> icon-eye-close</li>
                                <li><i class="icon-warning-sign"></i> icon-warning-sign</li>
                                <li><i class="icon-plane"></i> icon-plane</li>
                                <li><i class="icon-calendar"></i> icon-calendar</li>
                                <li><i class="icon-random"></i> icon-random</li>
                                <li><i class="icon-comment"></i> icon-comment</li>
                                <li><i class="icon-magnet"></i> icon-magnet</li>
                                <li><i class="icon-chevron-up"></i> icon-chevron-up</li>
                                <li><i class="icon-chevron-down"></i> icon-chevron-down</li>
                                <li><i class="icon-retweet"></i> icon-retweet</li>
                                <li><i class="icon-shopping-cart"></i> icon-shopping-cart</li>
                                <li><i class="icon-folder-close"></i> icon-folder-close</li>
                                <li><i class="icon-folder-open"></i> icon-folder-open</li>
                                <li><i class="icon-resize-vertical"></i> icon-resize-vertical</li>
                                <li><i class="icon-resize-horizontal"></i> icon-resize-horizontal</li>
                                <li><i class="icon-hdd"></i> icon-hdd</li>
                                <li><i class="icon-bullhorn"></i> icon-bullhorn</li>
                                <li><i class="icon-bell"></i> icon-bell</li>
                                <li><i class="icon-certificate"></i> icon-certificate</li>
                                <li><i class="icon-thumbs-up"></i> icon-thumbs-up</li>
                                <li><i class="icon-thumbs-down"></i> icon-thumbs-down</li>
                                <li><i class="icon-hand-right"></i> icon-hand-right</li>
                                <li><i class="icon-hand-left"></i> icon-hand-left</li>
                                <li><i class="icon-hand-up"></i> icon-hand-up</li>
                                <li><i class="icon-hand-down"></i> icon-hand-down</li>
                                <li><i class="icon-circle-arrow-right"></i> icon-circle-arrow-right</li>
                                <li><i class="icon-circle-arrow-left"></i> icon-circle-arrow-left</li>
                                <li><i class="icon-circle-arrow-up"></i> icon-circle-arrow-up</li>
                                <li><i class="icon-circle-arrow-down"></i> icon-circle-arrow-down</li>
                                <li><i class="icon-globe"></i> icon-globe</li>
                                <li><i class="icon-wrench"></i> icon-wrench</li>
                                <li><i class="icon-tasks"></i> icon-tasks</li>
                                <li><i class="icon-filter"></i> icon-filter</li>
                                <li><i class="icon-briefcase"></i> icon-briefcase</li>
                                <li><i class="icon-fullscreen"></i> icon-fullscreen</li>
                              </ul>
                        </div><!--tab-pane-->
                        <div id="fontawesome" class="tab-pane">
                           
                       
                            <div class="row-fluid fontawesomeicons">                            
                            <div class="span12">
                                <h4>Web Application Icons</h4>
                            </div>
                              <div class="span3" style="margin-left: 0;">
                                <ul class="the-icons">
                                  <li><i class="iconfa-adjust"></i> iconfa-adjust</li>
                                  <li><i class="iconfa-asterisk"></i> iconfa-asterisk</li>
                                  <li><i class="iconfa-ban-circle"></i> iconfa-ban-circle</li>
                                  <li><i class="iconfa-bar-chart"></i> iconfa-bar-chart</li>
                                  <li><i class="iconfa-barcode"></i> iconfa-barcode</li>
                                  <li><i class="iconfa-beaker"></i> iconfa-beaker</li>
                                  <li><i class="iconfa-bell"></i> iconfa-bell</li>
                                  <li><i class="iconfa-bolt"></i> iconfa-bolt</li>
                                  <li><i class="iconfa-book"></i> iconfa-book</li>
                                  <li><i class="iconfa-bookmark"></i> iconfa-bookmark</li>
                                  <li><i class="iconfa-bookmark-empty"></i> iconfa-bookmark-empty</li>
                                  <li><i class="iconfa-briefcase"></i> iconfa-briefcase</li>
                                  <li><i class="iconfa-bullhorn"></i> iconfa-bullhorn</li>
                                  <li><i class="iconfa-calendar"></i> iconfa-calendar</li>
                                  <li><i class="iconfa-camera"></i> iconfa-camera</li>
                                  <li><i class="iconfa-camera-retro"></i> iconfa-camera-retro</li>
                                  <li><i class="iconfa-certificate"></i> iconfa-certificate</li>
                                  <li><i class="iconfa-check"></i> iconfa-check</li>
                                  <li><i class="iconfa-check-empty"></i> iconfa-check-empty</li>
                                  <li><i class="iconfa-cloud"></i> iconfa-cloud</li>
                                  <li><i class="iconfa-cog"></i> iconfa-cog</li>
                                  <li><i class="iconfa-cogs"></i> iconfa-cogs</li>
                                  <li><i class="iconfa-comment"></i> iconfa-comment</li>
                                  <li><i class="iconfa-comment-alt"></i> iconfa-comment-alt</li>
                                  <li><i class="iconfa-comments"></i> iconfa-comments</li>
                                  <li><i class="iconfa-comments-alt"></i> iconfa-comments-alt</li>
                                  <li><i class="iconfa-credit-card"></i> iconfa-credit-card</li>
                                  <li><i class="iconfa-dashboard"></i> iconfa-dashboard</li>
                                  <li><i class="iconfa-download"></i> iconfa-download</li>
                                  <li><i class="iconfa-download-alt"></i> iconfa-download-alt</li>
                                  <li><i class="iconfa-edit"></i> iconfa-edit</li>
                                  <li><i class="iconfa-envelope"></i> iconfa-envelope</li>
                                  <li><i class="iconfa-envelope-alt"></i> iconfa-envelope-alt</li>
                                </ul>
                              </div>
                              <div class="span3">
                                <ul class="the-icons">
                                  <li><i class="iconfa-exclamation-sign"></i> iconfa-exclamation-sign</li>
                                  <li><i class="iconfa-external-link"></i> iconfa-external-link</li>
                                  <li><i class="iconfa-eye-close"></i> iconfa-eye-close</li>
                                  <li><i class="iconfa-eye-open"></i> iconfa-eye-open</li>
                                  <li><i class="iconfa-facetime-video"></i> iconfa-facetime-video</li>
                                  <li><i class="iconfa-film"></i> iconfa-film</li>
                                  <li><i class="iconfa-filter"></i> iconfa-filter</li>
                                  <li><i class="iconfa-fire"></i> iconfa-fire</li>
                                  <li><i class="iconfa-flag"></i> iconfa-flag</li>
                                  <li><i class="iconfa-folder-close"></i> iconfa-folder-close</li>
                                  <li><i class="iconfa-folder-open"></i> iconfa-folder-open</li>
                                  <li><i class="iconfa-gift"></i> iconfa-gift</li>
                                  <li><i class="iconfa-glass"></i> iconfa-glass</li>
                                  <li><i class="iconfa-globe"></i> iconfa-globe</li>
                                  <li><i class="iconfa-group"></i> iconfa-group</li>
                                  <li><i class="iconfa-hdd"></i> iconfa-hdd</li>
                                  <li><i class="iconfa-headphones"></i> iconfa-headphones</li>
                                  <li><i class="iconfa-heart"></i> iconfa-heart</li>
                                  <li><i class="iconfa-heart-empty"></i> iconfa-heart-empty</li>
                                  <li><i class="iconfa-home"></i> iconfa-home</li>
                                  <li><i class="iconfa-inbox"></i> iconfa-inbox</li>
                                  <li><i class="iconfa-info-sign"></i> iconfa-info-sign</li>
                                  <li><i class="iconfa-key"></i> iconfa-key</li>
                                  <li><i class="iconfa-leaf"></i> iconfa-leaf</li>
                                  <li><i class="iconfa-legal"></i> iconfa-legal</li>
                                  <li><i class="iconfa-lemon"></i> iconfa-lemon</li>
                                  <li><i class="iconfa-lock"></i> iconfa-lock</li>
                                  <li><i class="iconfa-unlock"></i> iconfa-unlock</li>
                                  <li><i class="iconfa-magic"></i> iconfa-magic</li>
                                  <li><i class="iconfa-magnet"></i> iconfa-magnet</li>
                                  <li><i class="iconfa-map-marker"></i> iconfa-map-marker</li>
                                  <li><i class="iconfa-minus"></i> iconfa-minus</li>
                                  <li><i class="iconfa-minus-sign"></i> iconfa-minus-sign</li>
                                </ul>
                              </div>
                              <div class="span3">
                                <ul class="the-icons">
                                  <li><i class="iconfa-money"></i> iconfa-money</li>
                                  <li><i class="iconfa-move"></i> iconfa-move</li>
                                  <li><i class="iconfa-music"></i> iconfa-music</li>
                                  <li><i class="iconfa-off"></i> iconfa-off</li>
                                  <li><i class="iconfa-ok"></i> iconfa-ok</li>
                                  <li><i class="iconfa-ok-circle"></i> iconfa-ok-circle</li>
                                  <li><i class="iconfa-ok-sign"></i> iconfa-ok-sign</li>
                                  <li><i class="iconfa-pencil"></i> iconfa-pencil</li>
                                  <li><i class="iconfa-picture"></i> iconfa-picture</li>
                                  <li><i class="iconfa-plane"></i> iconfa-plane</li>
                                  <li><i class="iconfa-plus"></i> iconfa-plus</li>
                                  <li><i class="iconfa-plus-sign"></i> iconfa-plus-sign</li>
                                  <li><i class="iconfa-print"></i> iconfa-print</li>
                                  <li><i class="iconfa-pushpin"></i> iconfa-pushpin</li>
                                  <li><i class="iconfa-qrcode"></i> iconfa-qrcode</li>
                                  <li><i class="iconfa-question-sign"></i> iconfa-question-sign</li>
                                  <li><i class="iconfa-random"></i> iconfa-random</li>
                                  <li><i class="iconfa-refresh"></i> iconfa-refresh</li>
                                  <li><i class="iconfa-remove"></i> iconfa-remove</li>
                                  <li><i class="iconfa-remove-circle"></i> iconfa-remove-circle</li>
                                  <li><i class="iconfa-remove-sign"></i> iconfa-remove-sign</li>
                                  <li><i class="iconfa-reorder"></i> iconfa-reorder</li>
                                  <li><i class="iconfa-resize-horizontal"></i> iconfa-resize-horizontal</li>
                                  <li><i class="iconfa-resize-vertical"></i> iconfa-resize-vertical</li>
                                  <li><i class="iconfa-retweet"></i> iconfa-retweet</li>
                                  <li><i class="iconfa-road"></i> iconfa-road</li>
                                  <li><i class="iconfa-rss"></i> iconfa-rss</li>
                                  <li><i class="iconfa-screenshot"></i> iconfa-screenshot</li>
                                  <li><i class="iconfa-search"></i> iconfa-search</li>
                                  <li><i class="iconfa-share"></i> iconfa-share</li>
                                  <li><i class="iconfa-share-alt"></i> iconfa-share-alt</li>
                                  <li><i class="iconfa-shopping-cart"></i> iconfa-shopping-cart</li>
                                </ul>
                              </div>
                              <div class="span3">
                                <ul class="the-icons">
                                  <li><i class="iconfa-signal"></i> iconfa-signal</li>
                                  <li><i class="iconfa-signin"></i> iconfa-signin</li>
                                  <li><i class="iconfa-signout"></i> iconfa-signout</li>
                                  <li><i class="iconfa-sitemap"></i> iconfa-sitemap</li>
                                  <li><i class="iconfa-sort"></i> iconfa-sort</li>
                                  <li><i class="iconfa-sort-down"></i> iconfa-sort-down</li>
                                  <li><i class="iconfa-sort-up"></i> iconfa-sort-up</li>
                                  <li><i class="iconfa-star"></i> iconfa-star</li>
                                  <li><i class="iconfa-star-empty"></i> iconfa-star-empty</li>
                                  <li><i class="iconfa-star-half"></i> iconfa-star-half</li>
                                  <li><i class="iconfa-tag"></i> iconfa-tag</li>
                                  <li><i class="iconfa-tags"></i> iconfa-tags</li>
                                  <li><i class="iconfa-tasks"></i> iconfa-tasks</li>
                                  <li><i class="iconfa-thumbs-down"></i> iconfa-thumbs-down</li>
                                  <li><i class="iconfa-thumbs-up"></i> iconfa-thumbs-up</li>
                                  <li><i class="iconfa-time"></i> iconfa-time</li>
                                  <li><i class="iconfa-tint"></i> iconfa-tint</li>
                                  <li><i class="iconfa-trash"></i> iconfa-trash</li>
                                  <li><i class="iconfa-trophy"></i> iconfa-trophy</li>
                                  <li><i class="iconfa-truck"></i> iconfa-truck</li>
                                  <li><i class="iconfa-umbrella"></i> iconfa-umbrella</li>
                                  <li><i class="iconfa-upload"></i> iconfa-upload</li>
                                  <li><i class="iconfa-upload-alt"></i> iconfa-upload-alt</li>
                                  <li><i class="iconfa-user"></i> iconfa-user</li>
                                  <li><i class="iconfa-user-md"></i> iconfa-user-md</li>
                                  <li><i class="iconfa-volume-off"></i> iconfa-volume-off</li>
                                  <li><i class="iconfa-volume-down"></i> iconfa-volume-down</li>
                                  <li><i class="iconfa-volume-up"></i> iconfa-volume-up</li>
                                  <li><i class="iconfa-warning-sign"></i> iconfa-warning-sign</li>
                                  <li><i class="iconfa-wrench"></i> iconfa-wrench</li>
                                  <li><i class="iconfa-zoom-in"></i> iconfa-zoom-in</li>
                                  <li><i class="iconfa-zoom-out"></i> iconfa-zoom-out</li>
                                </ul>
                              </div>
                            
                              <div class="span12" style="margin: 30px 0 0 0;">
                                <h4>Text Editor Icons</h4>
                              </div>
                              <div class="span3" style="margin: 0">
                                <ul class="the-icons">
                                  <li><i class="iconfa-file"></i> iconfa-file</li>
                                  <li><i class="iconfa-cut"></i> iconfa-cut</li>
                                  <li><i class="iconfa-copy"></i> iconfa-copy</li>
                                  <li><i class="iconfa-paste"></i> iconfa-paste</li>
                                  <li><i class="iconfa-save"></i> iconfa-save</li>
                                  <li><i class="iconfa-undo"></i> iconfa-undo</li>
                                  <li><i class="iconfa-repeat"></i> iconfa-repeat</li>
                                  <li><i class="iconfa-paper-clip"></i> iconfa-paper-clip</li>
                                </ul>
                              </div>
                              <div class="span3">
                                <ul class="the-icons">
                                  <li><i class="iconfa-text-height"></i> iconfa-text-height</li>
                                  <li><i class="iconfa-text-width"></i> iconfa-text-width</li>
                                  <li><i class="iconfa-align-left"></i> iconfa-align-left</li>
                                  <li><i class="iconfa-align-center"></i> iconfa-align-center</li>
                                  <li><i class="iconfa-align-right"></i> iconfa-align-right</li>
                                  <li><i class="iconfa-align-justify"></i> iconfa-align-justify</li>
                                  <li><i class="iconfa-indent-left"></i> iconfa-indent-left</li>
                                  <li><i class="iconfa-indent-right"></i> iconfa-indent-right</li>
                                </ul>
                              </div>
                              <div class="span3">
                                <ul class="the-icons">
                                  <li><i class="iconfa-font"></i> iconfa-font</li>
                                  <li><i class="iconfa-bold"></i> iconfa-bold</li>
                                  <li><i class="iconfa-italic"></i> iconfa-italic</li>
                                  <li><i class="iconfa-strikethrough"></i> iconfa-strikethrough</li>
                                  <li><i class="iconfa-underline"></i> iconfa-underline</li>
                                  <li><i class="iconfa-link"></i> iconfa-link</li>
                                  <li><i class="iconfa-columns"></i> iconfa-columns</li>
                                  <li><i class="iconfa-table"></i> iconfa-table</li>
                                </ul>
                              </div>
                              <div class="span3">
                                <ul class="the-icons">
                                  <li><i class="iconfa-th-large"></i> iconfa-th-large</li>
                                  <li><i class="iconfa-th"></i> iconfa-th</li>
                                  <li><i class="iconfa-th-list"></i> iconfa-th-list</li>
                                  <li><i class="iconfa-list"></i> iconfa-list</li>
                                  <li><i class="iconfa-list-ol"></i> iconfa-list-ol</li>
                                  <li><i class="iconfa-list-ul"></i> iconfa-list-ul</li>
                                  <li><i class="iconfa-list-alt"></i> iconfa-list-alt</li>
                                </ul>
                              </div>
                            
                              <div class="span12" style="margin: 30px 0 0 0">
                                <h4>Directional Icons</h4>
                              </div>
                              <div class="span3" style="margin: 0">
                                <ul class="the-icons">
                                  <li><i class="iconfa-arrow-down"></i> iconfa-arrow-down</li>
                                  <li><i class="iconfa-arrow-left"></i> iconfa-arrow-left</li>
                                  <li><i class="iconfa-arrow-right"></i> iconfa-arrow-right</li>
                                  <li><i class="iconfa-arrow-up"></i> iconfa-arrow-up</li>
                                  <li><i class="iconfa-chevron-down"></i> iconfa-chevron-down</li>
                                </ul>
                              </div>
                              <div class="span3">
                                <ul class="the-icons">
                                  <li><i class="iconfa-circle-arrow-down"></i> iconfa-circle-arrow-down</li>
                                  <li><i class="iconfa-circle-arrow-left"></i> iconfa-circle-arrow-left</li>
                                  <li><i class="iconfa-circle-arrow-right"></i> iconfa-circle-arrow-right</li>
                                  <li><i class="iconfa-circle-arrow-up"></i> iconfa-circle-arrow-up</li>
                                  <li><i class="iconfa-chevron-left"></i> iconfa-chevron-left</li>
                                </ul>
                              </div>
                              <div class="span3">
                                <ul class="the-icons">
                                  <li><i class="iconfa-caret-down"></i> iconfa-caret-down</li>
                                  <li><i class="iconfa-caret-left"></i> iconfa-caret-left</li>
                                  <li><i class="iconfa-caret-right"></i> iconfa-caret-right</li>
                                  <li><i class="iconfa-caret-up"></i> iconfa-caret-up</li>
                                  <li><i class="iconfa-chevron-right"></i> iconfa-chevron-right</li>
                                </ul>
                              </div>
                              <div class="span3">
                                <ul class="the-icons">
                                  <li><i class="iconfa-hand-down"></i> iconfa-hand-down</li>
                                  <li><i class="iconfa-hand-left"></i> iconfa-hand-left</li>
                                  <li><i class="iconfa-hand-right"></i> iconfa-hand-right</li>
                                  <li><i class="iconfa-hand-up"></i> iconfa-hand-up</li>
                                  <li><i class="iconfa-chevron-up"></i> iconfa-chevron-up</li>
                                </ul>
                              </div>
                            
                              <div class="span12" style="margin: 30px 0 0 0;">
                                <h4>Video Player Icons</h4>
                              </div>
                              <div class="span3" style="margin: 0">
                                <ul class="the-icons">
                                  <li><i class="iconfa-play-circle"></i> iconfa-play-circle</li>
                                  <li><i class="iconfa-play"></i> iconfa-play</li>
                                  <li><i class="iconfa-pause"></i> iconfa-pause</li>
                                  <li><i class="iconfa-stop"></i> iconfa-stop</li>
                                </ul>
                              </div>
                              <div class="span3">
                                <ul class="the-icons">
                                  <li><i class="iconfa-step-backward"></i> iconfa-step-backward</li>
                                  <li><i class="iconfa-fast-backward"></i> iconfa-fast-backward</li>
                                  <li><i class="iconfa-backward"></i> iconfa-backward</li>
                                  <li><i class="iconfa-forward"></i> iconfa-forward</li>
                                </ul>
                              </div>
                              <div class="span3">
                                <ul class="the-icons">
                                  <li><i class="iconfa-fast-forward"></i> iconfa-fast-forward</li>
                                  <li><i class="iconfa-step-forward"></i> iconfa-step-forward</li>
                                  <li><i class="iconfa-eject"></i> iconfa-eject</li>
                                </ul>
                              </div>
                              <div class="span3">
                                <ul class="the-icons">
                                  <li><i class="iconfa-fullscreen"></i> iconfa-fullscreen</li>
                                  <li><i class="iconfa-resize-full"></i> iconfa-resize-full</li>
                                  <li><i class="iconfa-resize-small"></i> iconfa-resize-small</li>
                                </ul>
                              </div>
                            
                              <div class="span12" style="margin: 30px 0 0 0">
                                <h4>Social Icons</h4>
                              </div>
                              <div class="span3" style="margin: 0">
                                <ul class="the-icons">
                                  <li><i class="iconfa-phone"></i> iconfa-phone</li>
                                  <li><i class="iconfa-phone-sign"></i> iconfa-phone-sign</li>
                                  <li><i class="iconfa-facebook"></i> iconfa-facebook</li>
                                  <li><i class="iconfa-facebook-sign"></i> iconfa-facebook-sign</li>
                                </ul>
                              </div>
                              <div class="span3">
                                <ul class="the-icons">
                                  <li><i class="iconfa-twitter"></i> iconfa-twitter</li>
                                  <li><i class="iconfa-twitter-sign"></i> iconfa-twitter-sign</li>
                                  <li><i class="iconfa-github"></i> iconfa-github</li>
                                  <li><i class="iconfa-github-sign"></i> iconfa-github-sign</li>
                                </ul>
                              </div>
                              <div class="span3">
                                <ul class="the-icons">
                                  <li><i class="iconfa-linkedin"></i> iconfa-linkedin</li>
                                  <li><i class="iconfa-linkedin-sign"></i> iconfa-linkedin-sign</li>
                                  <li><i class="iconfa-pinterest"></i> iconfa-pinterest</li>
                                  <li><i class="iconfa-pinterest-sign"></i> iconfa-pinterest-sign</li>
                                </ul>
                              </div>
                              <div class="span3">
                                <ul class="the-icons">
                                  <li><i class="iconfa-google-plus"></i> iconfa-google-plus</li>
                                  <li><i class="iconfa-google-plus-sign"></i> iconfa-google-plus-sign</li>
                                  <li><i class="iconfa-sign-blank"></i> iconfa-sign-blank</li>
                                </ul>
                              </div>
                            
                            </div><!--row-->
                        </div><!--tab-pane-->
                        
                        <div id="iconsweets" class="tab-pane">
                        	
                                <ul class="iconsweetslist clearfix">
                            	<li><i class="iconsweets-magnifying"></i> iconsweets-magnifying</li>
                                <li><i class="iconsweets-trashcan"></i> iconsweets-trashcan</li>
                                <li><i class="iconsweets-trashcan2"></i> iconsweets-trashcan2</li>
                                <li><i class="iconsweets-presentation"></i> iconsweets-presentation</li>
                                <li><i class="iconsweets-download"></i> iconsweets-download2</li>
                                <li><i class="iconsweets-download2"></i> iconsweets-download2</li>
                                <li><i class="iconsweets-upload"></i> iconsweets-upload</li>
                                <li><i class="iconsweets-flag"></i> iconsweets-flag</li>
                                <li><i class="iconsweets-flag2"></i> iconsweets-flag2</li>
                                <li><i class="iconsweets-finish-flag"></i> iconsweets-finish-flag</li>
                                <li><i class="iconsweets-podium"></i> iconsweets-podium</li>
                                <li><i class="iconsweets-cup"></i> iconsweets-cup</li>
                                <li><i class="iconsweets-home"></i> iconsweets-home</li>
                                <li><i class="iconsweets-home2"></i> iconsweets-home2</li>
                                <li><i class="iconsweets-link"></i> iconsweets-link</li>
                                <li><i class="iconsweets-link2"></i> iconsweets-link2</li>
                                <li><i class="iconsweets-notebook"></i> iconsweets-notebook</li>
                                <li><i class="iconsweets-book"></i> iconsweets-book</li>
                                <li><i class="iconsweets-book-large"></i> iconsweets-book-large</li>
                                <li><i class="iconsweets-books"></i> iconsweets-books</li>
                                <li><i class="iconsweets-tree"></i> iconsweets-tree</li>
                                <li><i class="iconsweets-construction"></i> iconsweets-consruction</li>
                                <li><i class="iconsweets-umbrella"></i> iconsweets-umbrella</li>
                                <li><i class="iconsweets-mail"></i> iconsweets-mail</li>
                                <li><i class="iconsweets-help"></i> iconsweets-help</li>
                                <li><i class="iconsweets-rss"></i> iconsweets-rss</li>
                                <li><i class="iconsweets-strategy"></i> iconsweets-strategy</li>
                                <li><i class="iconsweets-strategy2"></i> iconsweets-strategy2</li>
                                <li><i class="iconsweets-apartment"></i> iconsweets-apartment</li>
                                <li><i class="iconsweets-companies"></i> iconsweets-companies</li>
                                <li><i class="iconsweets-ghost"></i> iconsweets-ghost</li>
                                <li><i class="iconsweets-pacman"></i> iconsweets-pacman</li>
                                <li><i class="iconsweets-vault"></i> iconsweets-vault</li>
                                <li><i class="iconsweets-archive"></i> iconsweets-archive</li>
                                <li><i class="iconsweets-cabinet"></i> iconsweets-cabinet</li>
                                <li><i class="iconsweets-bandaid"></i> iconsweets-bandaid</li>
                                <li><i class="iconsweets-postcard"></i> iconsweets-postcard</li>
                                <li><i class="iconsweets-alert"></i> iconsweets-alert</li>
                                <li><i class="iconsweets-alert2"></i> iconsweets-alert2</li>
                                <li><i class="iconsweets-alarm"></i> iconsweets-alarm</li>
                                <li><i class="iconsweets-alarm2"></i> iconsweets-alarm2</li>
                                <li><i class="iconsweets-robot"></i> iconsweets-robot</li>
                                <li><i class="iconsweets-globe"></i> iconsweets-globe</li>
                                <li><i class="iconsweets-globe2"></i> iconsweets-globe2</li>
                                <li><i class="iconsweets-chemical"></i> iconsweets-chemical</li>
                                <li><i class="iconsweets-lightbulb"></i> iconsweets-lightbulb</li>
                                <li><i class="iconsweets-cloud"></i> iconsweets-cloud</li>
                                <li><i class="iconsweets-cloud-upload"></i> iconsweets-cloud-upload</li>
                                <li><i class="iconsweets-cloud-download"></i> iconsweets-cloud-download</li>
                                <li><i class="iconsweets-lamp"></i> iconsweets-lamp</li>
                                <li><i class="iconsweets-preview"></i> iconsweets-preview</li>
                                <li><i class="iconsweets-icecream"></i> iconsweets-icecream</li>
                                <li><i class="iconsweets-icecream2"></i> iconsweets-icecream2</li>
                                <li><i class="iconsweets-paperclip"></i> iconsweets-paperclip</li>
                                <li><i class="iconsweets-footprints"></i> iconsweets-footprints</li>
                                <li><i class="iconsweets-firefox"></i> iconsweets-firefox</li>
                                <li><i class="iconsweets-chrome"></i> iconsweets-chrome</li>
                                <li><i class="iconsweets-safari"></i> iconsweets-safari</li>
                                <li><i class="iconsweets-loadingbar"></i> iconsweets-loadingbar</li>
                                <li><i class="iconsweets-bullseye"></i> iconsweets-bullseye</li>
                                <li><i class="iconsweets-folder"></i> iconsweets-folder</li>
                                <li><i class="iconsweets-locked"></i> iconsweets-locked</li>
                                <li><i class="iconsweets-locked2"></i> iconsweets-locked2</li>
                                <li><i class="iconsweets-unlock"></i> iconsweets-unlock</li>
                                <li><i class="iconsweets-tag"></i> iconsweets-tag</li>
                                <li><i class="iconsweets-tag2"></i> iconsweets-tag2</li>
                                <li><i class="iconsweets-mac"></i> iconsweets-mac</li>
                                <li><i class="iconsweets-windows"></i> iconsweets-windows</li>
                                <li><i class="iconsweets-linux"></i> iconsweets-linux</li>
                                <li><i class="iconsweets-create"></i> iconsweets-create</li>
                                <li><i class="iconsweets-expose"></i> iconsweets-expose</li>
                                <li><i class="iconsweets-key"></i> iconsweets-key</li>
                                <li><i class="iconsweets-key2"></i> iconsweets-key2</li>
                                <li><i class="iconsweets-table"></i> iconsweets-table</li>
                                <li><i class="iconsweets-chair"></i> iconsweets-chair</li>
                                <li><i class="iconsweets-denied"></i> iconsweets-denied</li>
                                <li><i class="iconsweets-ballons"></i> iconsweets-ballons</li>
                                <li><i class="iconsweets-cat"></i> iconsweets-cat</li>
                                <li><i class="iconsweets-airplane"></i> iconsweets-airplane</li>
                                <li><i class="iconsweets-track"></i> iconsweets-track</li>
                                <li><i class="iconsweets-car"></i> iconsweets-car</li>
                                <li><i class="iconsweets-info"></i> iconsweets-info</li>
                                <li><i class="iconsweets-alarmclock"></i> iconsweets-alarmclock</li>
                                <li><i class="iconsweets-stopwatch"></i> iconsweets-stopwatch</li>
                                <li><i class="iconsweets-timer"></i> iconsweets-timer</li>
                                <li><i class="iconsweets-clock"></i> iconsweets-clock</li>
                                <li><i class="iconsweets-day"></i> iconsweets-day</li>
                                <li><i class="iconsweets-month"></i> iconsweets-month</li>
                                <li><i class="iconsweets-dress"></i> iconsweets-dress</li>
                                <li><i class="iconsweets-tshirt"></i> iconsweets-tshirt</li>
                                <li><i class="iconsweets-sportshirt"></i> iconsweets-sportshirt</li>
                                <li><i class="iconsweets-sweater"></i> iconsweets-sweater</li>
                                <li><i class="iconsweets-sleeveless"></i> iconsweets-sleeveless</li>
                                <li><i class="iconsweets-pants"></i> iconsweets-pants</li>
                                <li><i class="iconsweets-socks"></i> iconsweets-socks</li>
                                <li><i class="iconsweets-trolly"></i> iconsweets-trolly</li>
                                <li><i class="iconsweets-medical"></i> iconsweets-medical</li>
                                <li><i class="iconsweets-suitcase"></i> iconsweets-suitcase</li>
                                <li><i class="iconsweets-suitcase2"></i> iconsweets-suitcase2</li>
                                <li><i class="iconsweets-suitcase3"></i> iconsweets-suitcase3</li>
                                <li><i class="iconsweets-shoppingbag"></i> iconsweets-shoppingbag</li>
                                <li><i class="iconsweets-purse"></i> iconsweets-purse</li>
                                <li><i class="iconsweets-bag"></i> iconsweets-bag</li>
                                <li><i class="iconsweets-paypal"></i> iconsweets-paypal</li>
                                <li><i class="iconsweets-paypal2"></i> iconsweets-paypal2</li>
                                <li><i class="iconsweets-paypal3"></i> iconsweets-paypal3</li>
                                <li><i class="iconsweets-money"></i> iconsweets-money</li>
                                <li><i class="iconsweets-money2"></i> iconsweets-money2</li>
                                <li><i class="iconsweets-pricetag"></i> iconsweets-pricetag</li>
                                <li><i class="iconsweets-pricetags"></i> iconsweets-pricetags</li>
                                <li><i class="iconsweets-piggybank"></i> iconsweets-piggybank</li>
                                <li><i class="iconsweets-lemonade"></i> iconsweets-lemonade</li>
                                <li><i class="iconsweets-basket"></i> iconsweets-basket</li>
                                <li><i class="iconsweets-basket2"></i> iconsweets-basket2</li>
                                <li><i class="iconsweets-scan"></i> iconsweets-scan</li>
                                <li><i class="iconsweets-cart"></i> iconsweets-cart</li>
                                <li><i class="iconsweets-cart2"></i> iconsweets-cart2</li>
                                <li><i class="iconsweets-cart3"></i> iconsweets-cart3</li>
                                <li><i class="iconsweets-cart4"></i> iconsweets-cart4</li>
                                <li><i class="iconsweets-digg"></i> iconsweets-cart4</li>
                                <li><i class="iconsweets-digg2"></i> iconsweets-cart4</li>
                                <li><i class="iconsweets-buzz"></i> iconsweets-cart4</li>
                                <li><i class="iconsweets-delicious"></i> iconsweets-delicious</li>
                                <li><i class="iconsweets-twitter"></i> iconsweets-twitter</li>
                                <li><i class="iconsweets-twitter2"></i> iconsweets-twitter2</li>
                                <li><i class="iconsweets-tumblr"></i> iconsweets-tumblr</li>
                                <li><i class="iconsweets-plixi"></i> iconsweets-plixi</li>
                                <li><i class="iconsweets-dribbble"></i> iconsweets-dribbble</li>
                                <li><i class="iconsweets-dribbble2"></i> iconsweets-dribbble2</li>
                                <li><i class="iconsweets-stumbleupon"></i> iconsweets-stumbleupon</li>
                                <li><i class="iconsweets-lastfm"></i> iconsweets-lastfm</li>
                                <li><i class="iconsweets-mobypicture"></i> iconsweets-mobypicture</li>
                                <li><i class="iconsweets-youtube"></i> iconsweets-youtube</li>
                                <li><i class="iconsweets-youtube2"></i> iconsweets-youtube2</li>
                                <li><i class="iconsweets-vimeo"></i> iconsweets-vimeo</li>
                                <li><i class="iconsweets-vimeo2"></i> iconsweets-vimeo2</li>
                                <li><i class="iconsweets-skype"></i> iconsweets-skype</li>
                                <li><i class="iconsweets-facebook"></i> iconsweets-facebook</li>
                                <li><i class="iconsweets-like"></i> iconsweets-like</li>
                                <li><i class="iconsweets-ichat"></i> iconsweets-ichat</li>
                                <li><i class="iconsweets-myspace"></i> iconsweets-myspace</li>
                                <li><i class="iconsweets-dropbox"></i> iconsweets-dropbox</li>
                                <li><i class="iconsweets-walking"></i> iconsweets-walking</li>
                                <li><i class="iconsweets-running"></i> iconsweets-running</li>
                                <li><i class="iconsweets-exit"></i> iconsweets-exit</li>
                                <li><i class="iconsweets-male"></i> iconsweets-male</li>
                                <li><i class="iconsweets-female"></i> iconsweets-female</li>
                                <li><i class="iconsweets-user"></i> iconsweets-user</li>
                                <li><i class="iconsweets-users"></i> iconsweets-users</li>
                                <li><i class="iconsweets-admin"></i> iconsweets-admin</li>
                                <li><i class="iconsweets-malesymbol"></i> iconsweets-malesymbol</li>
                                <li><i class="iconsweets-user2"></i> iconsweets-user2</li>
                                <li><i class="iconsweets-users2"></i> iconsweets-users2</li>
                                <li><i class="iconsweets-admin2"></i> iconsweets-admin2</li>
                                <li><i class="iconsweets-femalesymbol"></i> iconsweets-femalesymbol</li>
                                <li><i class="iconsweets-usercomment"></i> iconsweets-usercomment</li>
                                <li><i class="iconsweets-cog"></i> iconsweets-cog</li>
                                <li><i class="iconsweets-cog2"></i> iconsweets-cog2</li>
                                <li><i class="iconsweets-cog3"></i> iconsweets-cog3</li>
                                <li><i class="iconsweets-cog4"></i> iconsweets-cog4</li>
                                <li><i class="iconsweets-settings"></i> iconsweets-settings</li>
                                <li><i class="iconsweets-settings2"></i> iconsweets-settings2</li>
                                <li><i class="iconsweets-hd"></i> iconsweets-hd</li>
                                <li><i class="iconsweets-hd2"></i> iconsweets-hd2</li>
                                <li><i class="iconsweets-hd3"></i> iconsweets-hd3</li>
                                <li><i class="iconsweets-sd"></i> iconsweets-sd</li>
                                <li><i class="iconsweets-sd2"></i> iconsweets-sd2</li>
                                <li><i class="iconsweets-sd3"></i> iconsweets-sd3</li>
                                <li><i class="iconsweets-dvd"></i> iconsweets-dvd</li>
                                <li><i class="iconsweets-blueray"></i> iconsweets-blueray</li>
                                <li><i class="iconsweets-record"></i> iconsweets-record</li>
                                <li><i class="iconsweets-cd"></i> iconsweets-cd</li>
                                <li><i class="iconsweets-cassette"></i> iconsweets-cassette</li>
                                <li><i class="iconsweets-image"></i> iconsweets-image</li>
                                <li><i class="iconsweets-image2"></i> iconsweets-image2</li>
                                <li><i class="iconsweets-image3"></i> iconsweets-image3</li>
                                <li><i class="iconsweets-image4"></i> iconsweets-image4</li>
                                <li><i class="iconsweets-sound"></i> iconsweets-sound</li>
                                <li><i class="iconsweets-megaphone"></i> iconsweets-megaphone</li>
                                <li><i class="iconsweets-film"></i> iconsweets-film</li>
                                <li><i class="iconsweets-film2"></i> iconsweets-film2</li>
                                <li><i class="iconsweets-headphone"></i> iconsweets-headphone</li>
                                <li><i class="iconsweets-microphone"></i> iconsweets-microphone</li>
                                <li><i class="iconsweets-printer"></i> iconsweets-printer</li>
                                <li><i class="iconsweets-radio"></i> iconsweets-radio</li>
                                <li><i class="iconsweets-television"></i> iconsweets-television</li>
                                <li><i class="iconsweets-imac"></i> iconsweets-imac</li>
                                <li><i class="iconsweets-laptop"></i> iconsweets-laptop</li>
                                <li><i class="iconsweets-mightymouse"></i> iconsweets-mightymouse</li>
                                <li><i class="iconsweets-magicmouse"></i> iconsweets-magicmouse</li>
                                <li><i class="iconsweets-mousewire"></i> iconsweets-mousewire</li>
                                <li><i class="iconsweets-monitor"></i> iconsweets-monitor</li>
                                <li><i class="iconsweets-camera"></i> iconsweets-camera</li>
                                <li><i class="iconsweets-camera2"></i> iconsweets-camera2</li>
                                <li><i class="iconsweets-ipod"></i> iconsweets-ipod</li>
                                <li><i class="iconsweets-ipodnano"></i> iconsweets-ipadnano</li>
                                <li><i class="iconsweets-ipad"></i> iconsweets-ipad</li>
                                <li><i class="iconsweets-filmcamera"></i> iconsweets-filmcamera</li>
                                <li><i class="iconsweets-calculator"></i> iconsweets-calculator</li>
                                <li><i class="iconsweets-cashregister"></i> iconsweets-cashregister</li>
                                <li><i class="iconsweets-fax"></i> iconsweets-fax</li>
                                <li><i class="iconsweets-frames"></i> iconsweets-frames</li>
                                <li><i class="iconsweets-coverflow"></i> iconsweets-coverflow</li>
                                <li><i class="iconsweets-list"></i> iconsweets-list</li>
                                <li><i class="iconsweets-list2"></i> iconsweets-list2</li>
                                <li><i class="iconsweets-list3"></i> iconsweets-list3</li>
                                <li><i class="iconsweets-list4"></i> iconsweets-list4</li>
                                <li><i class="iconsweets-wordpress"></i> iconsweets-wordpress</li>
                                <li><i class="iconsweets-wordpress2"></i> iconsweets-wordpress2</li>
                                <li><i class="iconsweets-joomla"></i> iconsweets-joomla</li>
                                <li><i class="iconsweets-expressionengine"></i> iconsweets-expressionengine</li>
                                <li><i class="iconsweets-drupal"></i> iconsweets-drupal</li>
                                <li><i class="iconsweets-arrowright"></i> iconsweets-arrowright</li>
                                <li><i class="iconsweets-arrowleft"></i> iconsweets-arrowleft</li>
                                <li><i class="iconsweets-arrowdown"></i> iconsweets-arrowdown</li>
                                <li><i class="iconsweets-arrowup"></i> iconsweets-arrowup</li>
                                <li><i class="iconsweets-refresh"></i> iconsweets-refresh</li>
                                <li><i class="iconsweets-refresh2"></i> iconsweets-refresh2</li>
                                <li><i class="iconsweets-repeat"></i> iconsweets-repeat</li>
                                <li><i class="iconsweets-shuffle"></i> iconsweets-shuffle</li>
                                <li><i class="iconsweets-refresh3"></i> iconsweets-refresh3</li>
                                <li><i class="iconsweets-refresh4"></i> iconsweets-refresh4</li>
                                <li><i class="iconsweets-recycle"></i> iconsweets-recycle</li>
                                <li><i class="iconsweets-fullscreen"></i> iconsweets-fullscreen</li>
                                <li><i class="iconsweets-fitscreen"></i> iconsweets-fitscreen</li>
                                <li><i class="iconsweets-origscreen"></i> iconsweets-origscreen</li>
                                <li><i class="iconsweets-bluetooth"></i> iconsweets-bluetooth</li>
                                <li><i class="iconsweets-bluetooth2"></i> iconsweets-bluetooth2</li>
                                <li><i class="iconsweets-wifi"></i> iconsweets-wifi</li>
                                <li><i class="iconsweets-wifi2"></i> iconsweets-wifi2</li>
                                <li><i class="iconsweets-iphone3"></i> iconsweets-iphone3</li>
                                <li><i class="iconsweets-iphone4"></i> iconsweets-iphone4</li>
                                <li><i class="iconsweets-blackberry"></i> iconsweets-blackberry</li>
                                <li><i class="iconsweets-android"></i> iconsweets-android</li>
                                <li><i class="iconsweets-mobile"></i> iconsweets-mobile</li>
                                <li><i class="iconsweets-inbox"></i> iconsweets-inbox</li>
                                <li><i class="iconsweets-outgoing"></i> iconsweets-outgoing</li>
                                <li><i class="iconsweets-incoming"></i> iconsweets-incoming</li>
                                <li><i class="iconsweets-speech"></i> iconsweets-speech</li>
                                <li><i class="iconsweets-speech2"></i> iconsweets-speech2</li>
                                <li><i class="iconsweets-speech3"></i> iconsweets-speech3</li>
                                <li><i class="iconsweets-speech4"></i> iconsweets-speech4</li>
                                <li><i class="iconsweets-phone"></i> iconsweets-phone</li>
                                <li><i class="iconsweets-phone2"></i> iconsweets-phone2</li>
                                <li><i class="iconsweets-battery"></i> iconsweets-battery</li>
                                <li><i class="iconsweets-battery2"></i> iconsweets-battery2</li>
                                <li><i class="iconsweets-battery3"></i> iconsweets-battery3</li>
                                <li><i class="iconsweets-battery4"></i> iconsweets-battery4</li>
                                <li><i class="iconsweets-batteryfull"></i> iconsweets-batteryfull</li>
                                <li><i class="iconsweets-power"></i> iconsweets-power</li>
                                <li><i class="iconsweets-electric"></i> iconsweets-electric</li>
                                <li><i class="iconsweets-plug"></i> iconsweets-plug</li>
                                <li><i class="iconsweets-brush"></i> iconsweets-brush</li>
                                <li><i class="iconsweets-brush2"></i> iconsweets-brush2</li>
                                <li><i class="iconsweets-pen"></i> iconsweets-pen</li>
                                <li><i class="iconsweets-bigbrush"></i> iconsweets-bigbrush</li>
                                <li><i class="iconsweets-pencil"></i> iconsweets-pencil</li>
                                <li><i class="iconsweets-scissor"></i> iconsweets-scissor</li>
                                <li><i class="iconsweets-eyedrop"></i> iconsweets-eyedrop</li>
                                <li><i class="iconsweets-abacus"></i> iconsweets-abacus</li>
                                <li><i class="iconsweets-ruler"></i> iconsweets-ruler</li>
                                <li><i class="iconsweets-ruler2"></i> iconsweets-ruler2</li>
                                <li><i class="iconsweets-map"></i> iconsweets-map</li>
                                <li><i class="iconsweets-maps"></i> iconsweets-maps</li>
                                <li><i class="iconsweets-post"></i> iconsweets-post</li>
                                <li><i class="iconsweets-marker"></i> iconsweets-marker</li>
                                <li><i class="iconsweets-document"></i> iconsweets-document</li>
                                <li><i class="iconsweets-documents"></i> iconsweets-documents</li>
                                <li><i class="iconsweets-pdf"></i> iconsweets-pdf</li>
                                <li><i class="iconsweets-pdf2"></i> iconsweets-pdf2</li>
                                <li><i class="iconsweets-word"></i> iconsweets-word</li>
                                <li><i class="iconsweets-word2"></i> iconsweets-word2</li>
                                <li><i class="iconsweets-word3"></i> iconsweets-word3</li>
                                <li><i class="iconsweets-zip"></i> iconsweets-zip</li>
                                <li><i class="iconsweets-zip2"></i> iconsweets-zip2</li>
                                <li><i class="iconsweets-ppt"></i> iconsweets-ppt</li>
                                <li><i class="iconsweets-ppt2"></i> iconsweets-ppt2</li>
                                <li><i class="iconsweets-excel"></i> iconsweets-excel</li>
                                <li><i class="iconsweets-excel2"></i> iconsweets-excel2</li>
                                <li><i class="iconsweets-vcard"></i> iconsweets-vcard</li>
                                <li><i class="iconsweets-vcard2"></i> iconsweets-vcard2</li>
                                <li><i class="iconsweets-address"></i> iconsweets-address</li>
                                <li><i class="iconsweets-chart"></i> iconsweets-chart</li>
                                <li><i class="iconsweets-chart2"></i> iconsweets-chart2</li>
                                <li><i class="iconsweets-chart3"></i> iconsweets-chart3</li>
                                <li><i class="iconsweets-chart4"></i> iconsweets-chart4</li>
                                <li><i class="iconsweets-chart5"></i> iconsweets-chart5</li>
                                <li><i class="iconsweets-chart6"></i> iconsweets-chart6</li>
                                <li><i class="iconsweets-chart7"></i> iconsweets-chart7</li>
                                <li><i class="iconsweets-chart8"></i> iconsweets-chart8</li>
                            </ul>
                    	</div><!--tab-pane-->
                        
                        <div id="examples" class="tab-pane">
                    		<div class="row-fluid">
                            	<div class="span4">
                                       
                                    	<ul class="nav nav-tabs nav-stacked samplenavs">
                                            <li class="active"><a href="#"><i class="iconfa-home"></i> &nbsp; Trang chủ</a></li>
                                            <li><a href="#"><i class="iconfa-user"></i> &nbsp; Thông tin tài khoản</a></li>
                                            <li><a href="#"><i class="iconfa-envelope"></i>  &nbsp; Tin nhắn</a></li>
                                        </ul>
                                        <div class="btn-group">
                                            <button class="btn dropdown-toggle" data-toggle="dropdown"><i class="iconfa-th"></i> &nbsp; User <span class="caret"></span></button>
                                            <ul class="dropdown-menu">
                                              <li><a href="#"><i class="iconfa-music"></i> &nbsp;Music</a></li>
                                              <li><a href="#"><i class="iconfa-star"></i> &nbsp;Favorites</a></li>
                                              <li><a href="#"><i class="iconfa-globe"></i> &nbsp;Notification</a></li>
                                              <li class="divider"></li>
                                              <li><a href="#"><i class="iconfa-arrow-right"></i> &nbsp;Logout</a></li>
                                            </ul>
                                        </div><!--btn-group-->
                                        <div class="divider30"></div>                                        
                                        <div class="btn-group">
                                          <button class="btn btn-inverse"><i class="iconfa-fast-backward icon-white"></i></button>
                                          <button class="btn btn-inverse"><i class="iconfa-backward icon-white"></i></button>
                                          <button class="btn btn-inverse"><i class="iconfa-stop icon-white"></i></button>
                                          <button class="btn btn-inverse"><i class="iconfa-play icon-white"></i></button>
                                          <button class="btn btn-inverse"><i class="iconfa-forward icon-white"></i></button>
                                          <button class="btn btn-inverse"><i class="iconfa-fast-forward icon-white"></i></button>
                                        </div>
                                        <div class="divider30"></div> 
                                        <ul class="list-nostyle list-inline">
                                        	<li><a href="" class="btn"><i class="iconfa-heart"></i></a></li>
                                            <li><a href="" class="btn btn-primary"><i class="iconfa-headphones icon-white"></i></a></li>
                                            <li><a href="" class="btn btn-warning"><i class="iconfa-signal"></i></a></li>
                                            <li><a href="" class="btn btn-danger"><i class="iconfa-book icon-white"></i></a></li>
                                            <li><a href="" class="btn btn-info"><i class="iconfa-pencil"></i></a></li>
                                        </ul>
                                        <div class="divider30"></div> 
                                        <ul class="list-nostyle list-inline">
                                        	<li><a href="" class="btn btn-circle"><i class="iconfa-heart"></i></a></li>
                                            <li><a href="" class="btn btn-primary btn-circle"><i class="iconfa-headphones icon-white"></i></a></li>
                                            <li><a href="" class="btn btn-warning btn-circle"><i class="iconfa-signal"></i></a></li>
                                            <li><a href="" class="btn btn-danger btn-circle"><i class="iconfa-book icon-white"></i></a></li>
                                            <li><a href="" class="btn btn-info btn-circle"><i class="iconfa-pencil"></i></a></li>
                                        </ul>
                                        
                                        <div class="divider30"></div> 
                                        <ul class="list-nostyle list-inline">
                                        	<li><a href="" class="btn btn-warning btn-rounded"><i class="iconfa-heart icon-white"></i> Button</a></li>
                                            <li><a href="" class="btn btn-danger btn-rounded"><i class="iconfa-headphones icon-white"></i> Button</a></li>
                                        </ul>
                                        
                                </div><!--span4-->
                                
                                <div class="span4">
                                	
                                    	<ul class="nav nav-tabs nav-stacked samplenavs">
                                        	<li class="active"><a href="#"><i class="iconfa-arrow-left"></i> &nbsp; Trang chủ</a></li>
                                            <li><a href="#"><i class="iconfa-user"></i> &nbsp; Thông tin tài khoản</a></li>
                                            <li><a href="#"><i class="iconfa-envelope"></i>  &nbsp; Tin nhắn</a></li>
                                        </ul>
                                        
                                        <div class="btn-group">
                                            <button class="btn dropdown-toggle" data-toggle="dropdown"><i class="iconfa-th"></i> &nbsp; User <span class="caret"></span></button>
                                            <ul class="dropdown-menu">
                                              <li><a href="#"><i class="iconfa-music"></i> &nbsp;Music</a></li>
                                              <li><a href="#"><i class="iconfa-star"></i> &nbsp;Favorites</a></li>
                                              <li><a href="#"><i class="iconfa-globe"></i> &nbsp;Notification</a></li>
                                              <li class="divider"></li>
                                              <li><a href="#"><i class="iconfa-remove"></i> &nbsp;Logout</a></li>
                                            </ul>
                                        </div><!--btn-group-->
                                        <div class="divider30"></div>                                        
                                        <div class="btn-group">
                                          <button class="btn"><i class="iconfa-fast-backward"></i></button>
                                          <button class="btn"><i class="iconfa-backward"></i></button>
                                          <button class="btn"><i class="iconfa-stop"></i></button>
                                          <button class="btn"><i class="iconfa-play"></i></button>
                                          <button class="btn"><i class="iconfa-forward"></i></button>
                                          <button class="btn"><i class="iconfa-fast-forward"></i></button>
                                        </div>
                                        <div class="divider30"></div> 
                                        <ul class="list-nostyle list-inline">
                                        	<li><a href="" class="btn"><i class="iconfa-heart"></i></a></li>
                                            <li><a href="" class="btn btn-primary"><i class="iconfa-off"></i></a></li>
                                            <li><a href="" class="btn btn-warning"><i class="iconfa-signal"></i></a></li>
                                            <li><a href="" class="btn btn-danger"><i class="iconfa-book"></i></a></li>
                                            <li><a href="" class="btn btn-info"><i class="iconfa-pencil"></i></a></li>
                                        </ul>
                                        
                                        <div class="divider30"></div> 
                                        <ul class="list-nostyle list-inline">
                                        	<li><a href="" class="btn btn-circle"><i class="iconfa-heart"></i></a></li>
                                            <li><a href="" class="btn btn-primary btn-circle"><i class="iconfa-off"></i></a></li>
                                            <li><a href="" class="btn btn-warning btn-circle"><i class="iconfa-signal"></i></a></li>
                                            <li><a href="" class="btn btn-danger btn-circle"><i class="iconfa-book"></i></a></li>
                                            <li><a href="" class="btn btn-info btn-circle"><i class="iconfa-pencil"></i></a></li>
                                        </ul>
                                        
                                        <div class="divider30"></div> 
                                        <ul class="list-nostyle list-inline">
                                        	<li><a href="" class="btn btn-rounded"><i class="iconfa-heart"></i> Button</a></li>
                                            <li><a href="" class="btn btn-info btn-rounded"><i class="iconfa-off"></i> Button</a></li>
                                        </ul>
                                        
                                        
                                </div><!--span4-->
                                
                                <div class="span4">
                                	
                                    	<ul class="nav nav-tabs nav-stacked samplenavs">
                                        	<li class="active"><a href="#"><i class="iconsweets-home iconsweets-white"></i> &nbsp; Trang chủ</a></li>
                                            <li><a href="#"><i class="iconsweets-user"></i> &nbsp; Thông tin tài khoản</a></li>
                                            <li><a href="#"><i class="iconsweets-speech"></i> &nbsp; Tin nhắn</a></li>
                                        </ul>
                                        
                                        <div class="btn-group">
                                            <button class="btn dropdown-toggle" data-toggle="dropdown"><i class="iconfa-th"></i> &nbsp; User <span class="caret"></span></button>
                                            <ul class="dropdown-menu">
                                              <li><a href="#"><i class="iconsweets-sound"></i> &nbsp;Music</a></li>
                                              <li><a href="#"><i class="iconsweets-cup"></i> &nbsp;Favorites</a></li>
                                              <li><a href="#"><i class="iconsweets-globe"></i> &nbsp;Notification</a></li>
                                              <li class="divider"></li>
                                              <li><a href="#"><i class="iconsweets-exit"></i> &nbsp;Logout</a></li>
                                            </ul>
                                        </div><!--btn-group-->
                                        
                                        <div class="divider30"></div>                                        
                                        <div class="btn-group">
                                          <button class="btn"><i class="iconsweets-twitter"></i></button>
                                          <button class="btn"><i class="iconsweets-like"></i></button>
                                          <button class="btn"><i class="iconsweets-stumbleupon"></i></button>
                                          <button class="btn"><i class="iconsweets-dribbble2"></i></button>
                                          <button class="btn"><i class="iconsweets-skype"></i></button>
                                          <button class="btn"><i class="iconsweets-youtube"></i></button>
                                        </div>
                                        <div class="divider30"></div> 
                                        <ul class="list-nostyle list-inline">
                                        	<li><a href="" class="btn"><i class="iconsweets-link"></i></a></li>
                                            <li><a href="" class="btn btn-primary"><i class="iconsweets-magnifying iconsweets-white"></i></a></li>
                                            <li><a href="" class="btn btn-warning"><i class="iconsweets-mail iconsweets-white"></i></a></li>
                                            <li><a href="" class="btn btn-danger"><i class="iconsweets-create iconsweets-white"></i></a></li>
                                            <li><a href="" class="btn btn-info"><i class="iconsweets-clock iconsweets-white"></i></a></li>
                                        </ul>
                                        
                                        <div class="divider30"></div> 
                                        <ul class="list-nostyle list-inline">
                                        	<li><a href="" class="btn btn-circle"><i class="iconsweets-link"></i></a></li>
                                            <li><a href="" class="btn btn-primary btn-circle"><i class="iconsweets-magnifying iconsweets-white"></i></a></li>
                                            <li><a href="" class="btn btn-warning btn-circle"><i class="iconsweets-mail iconsweets-white"></i></a></li>
                                            <li><a href="" class="btn btn-danger btn-circle"><i class="iconsweets-create iconsweets-white"></i></a></li>
                                            <li><a href="" class="btn btn-info btn-circle"><i class="iconsweets-clock iconsweets-white"></i></a></li>
                                        </ul>
                                        
                                        <div class="divider30"></div> 
                                        <ul class="list-nostyle list-inline">
                                        	<li><a href="" class="btn btn-rounded"> <i class="iconsweets-link"></i> &nbsp; Button</a> </li>
                                            <li><a href="" class="btn btn-primary btn-rounded"> <i class="iconsweets-magnifying iconsweets-white"></i>  &nbsp; Button</a></li>
                                        </ul>

                                </div><!--span4-->
                                
                            </div><!--row-fluid-->
                    	</div><!--tab-pane-->
                    </div><!--tabcontent-->
               </div><!--tabbable-->

