﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="CNKT_CapNhatSoGioDaoTaoCNKT_Process.ascx.cs" Inherits="usercontrols_CNKT_CapNhatSoGioDaoTaoCNKT_Process" %>

<form id="form1" method="post" enctype="multipart/form-data">
    <input type="hidden" name="hdLopHocId" id="hdLopHocId" />
    <input type="hidden" name="hdValue" id="hdValue" />
</form>
<script type="text/javascript">
    function Save(arrData) {
        $('#hdLopHocId').val(arrData[0]);
        $('#hdValue').val(arrData[1]);

        $('#form1').submit();
    }
</script>