﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="CNKT_BaoCaoKetQuaToChucLopHoc_Process.ascx.cs" Inherits="usercontrols_CNKT_BaoCaoKetQuaToChucLopHoc_Process" %>

<form id="form1" method="post" enctype="multipart/form-data">
    <input type="hidden" name="hdLopHocId" id="hdLopHocId" />
    <input type="hidden" name="hdNgayCapNhat" id="hdNgayCapNhat" />
    <input type="hidden" name="hdDanhGiaKhac" id="hdDanhGiaKhac" />
    <input type="hidden" name="hdKienNghiVoiBTC" id="hdKienNghiVoiBTC" />
    <input type="hidden" name="hdSoPhieuDanhGia" id="hdSoPhieuDanhGia" />
    <input type="hidden" name="hdValue" id="hdValue" />
</form>
<script type="text/javascript">
    function Save(arrData) {
        $('#hdLopHocId').val(arrData[0]);
        $('#hdNgayCapNhat').val(arrData[1]);
        $('#hdDanhGiaKhac').val(arrData[2]);
        $('#hdKienNghiVoiBTC').val(arrData[3]);
        $('#hdSoPhieuDanhGia').val(arrData[4]);
        $('#hdValue').val(arrData[5]);

        $('#form1').submit();
    }
</script>