﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="cnkt_thongbao_add.ascx.cs" Inherits="usercontrols_CNKT_cnkt_thongbao_add" %>
<script type="text/javascript"  src="/js/editor/ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="/js/editor/ckeditor/adapters/jquery.js"></script>
<form id="form_thongbao" method="post" enctype="multipart/form-data" action="">
<asp:PlaceHolder ID="ErrorMessage" runat="server"></asp:PlaceHolder>
<input type="hidden" id="id_hv" name="id_hv" />
<br />
  <b>Chọn chuyên đề:</b>&nbsp;<select  name="drChuyenDe" id="drChuyenDe" style="width:100%;height:30px" >
        
        <% LoadChuyenDe(); %>
        </select>
    <br />
    <table  width="100%" border="0" class="formtbl" style="margin-top:5px;"  >
    <tr> 
        <td  style="width:100px" ><label>Tiêu đề: </label></td>
         <td  colspan="3" >  
           <input type="text" id="TieuDeThongBao" name="TieuDeThongBao" />            
         </td>             
    </tr>
    <tr> 
        <td  style="width:100px" ><label>Nội dung thông báo: </label></td>
         <td  colspan="3" >  
           <textarea name="NoiDungThongBao" id="NoiDungThongBao" rows="8" cols="10" class="ckeditor"></textarea>              
         </td>             
    </tr>
    <tr> 
        <td  style="width:100px" ><label>File đính kèm: </label></td>
         <td  colspan="3" >  
           <input type="file" id="FileDinhKem" name="FileDinhKem" />
         </td>             
    </tr>
    </table>
    </form>
    <script type="text/javascript">
        function submitform() {
            jQuery("#form_thongbao").submit();
        }
    </script>